$color-yellow: rgb(255, 255, 82);
$color-red: rgb(229, 45, 45);
$color-turqis: rgb(1, 180, 150);
$color-turqis-light: rgb(0, 254, 212);
$color-pink: rgb(255, 0, 136);
$color-blue-light: rgb(0, 200, 255);
$color-green-light: rgb(11, 239, 7);
$color-orange: rgb(255, 140, 0);

h1,
h2 {
  font-family: Assistant-Bold;
}

h1 {
  font-size: 2.5vw;
  text-align: center;
  color: rgb(1, 180, 150);
  width: 80%;
  margin: 20px auto;
}

h2 {
  font-size: 1.5em;
}

//////////////////////הדיב של החפש
[p1] {
  display: inline-block;
  width: 50%;
}

[top] {
  margin: 5px auto;
  height: 40px;
  width: 90vw;

  select {
    display: inline-block;
    width: 24vw;
    margin: 0px 0vw 0px 1vw;
    /*     height: 30px;
 */
    font-family: Assistant-Regular;
    font-size: 20px;

    option {
      font-family: Assistant-Light;

    }
  }

  //חיפוש
  .find {
    display: inline-block;

    color: gray;
    border: 1px solid black;
    width: 24vw;
    margin: 0px 0vw 0px 4vw;
    /*     height: 27px;
 */
    padding: 2px 10px;
    border-radius: 50px;
  }

  .find>input {
    border: none;
    outline: none;
    font-family: Assistant-Light;
    font-size: 20px;
    margin: auto;
  }

  button {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: large;
    padding-bottom: 4px;
    text-align: center;
    text-decoration: none;
    font-family: Assistant-Light;
    border: 0px;
  }

  button:hover {
    font-weight: bolder;
  }

  button:active {
    font-family: Assistant-Bold;
    top: 2px;
  }

  [icon] {
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-yellow;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(230, 230, 230, 0.5);
    //  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); // צל עבור ה-Snackbar
    display: inline;
  }

  [icon]:hover {
    background-color: $color-yellow;
    font-family: Assistant-Bold;

  }

  [icon]:active {
    font-family: Assistant-Bold;
    top: 2px;
  }

  [newCall] {
    background-image: url('../icons/plus.png');
    background-position: 93%;
    line-height: 42px;
    font-size: large;
    font-family: Assistant-Bold;
    width: 20vw;
    margin: 0px 14.5vw 0px 0vw;
  }
}

[mail] {

  height: 67vh;
  width: 90vw;
  margin: auto;

  [windows1] {
    text-align: left;
    display: inline-block;
    height: 67vh;
    border: 4px;


    [titlee] {
      text-align: right;
      background-color: rgb(238, 255, 250);
      height: 30px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      display: block;
      border-bottom: 1.5px solid rgb(206, 206, 206);

      input {
        //  margin: 5px;
        width: 15px;
        height: 15px;
        border: 2px solid black;
        display: inline-block;

      }

      [refresh],
      [delete],
      [unread] {
        margin: 5px;
        height: 20px;
        width: 20px;
        margin-left: 18px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-size: 15px;
      }

      [refresh] {
        background-image: url('../icons/refresh.png');
        // background-size: px;
      }

      [delete] {
        background-image: url('../icons/deleteMail.png');
        background-size: 20px;
      }

      [unread] {
        background-image: url('../icons/mail.png');
        background-size: 20px;
      }
    }

    [allCall] {
      text-align: right;
      height:63vh;
      width: 90vw;
      display: block;
      overflow: scroll;
      overflow-y: auto;
    }

    [callOpen] {
      text-align: right;
      height:63vh;
      width: 90vw;
      display: block;
      overflow: scroll;
      overflow-y: auto;
      [titlee] {
        text-align: right;
        background-color: rgb(238, 255, 250);
        height: 30px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: block;
        border-bottom: 1.5px solid rgb(206, 206, 206);
  
        [exit],
        [delete],
        [unread] {
          margin: 5px;
          height: 20px;
          width: 20px;
          margin-left: 18px;
          display: inline-block;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          background-size: 15px;
        }

        [exit] {
          background-image: url('../icons/back.png');
          background-size: 26px;

        }

        [delete] {
          background-image: url('../icons/deleteMail.png');
          background-size: 20px;

        }

        [unread] {
          background-image: url('../icons/mail.png');
          background-size: 20px;

        }

      }

      [topic] {
        font-family: Assistant-Bold;
        font-size: 17px;
        padding-right: 40px;
        padding-top: 7px;
      }
      [answer]{
        border-radius: 50px;
        border: solid 0.8px black;
        height: 30px;
        font-size: 16px;

        padding-right: 20px;
        margin-bottom: 10px;
        width: 100px;
        margin-right: 40px;
        font-family: Assistant-Regular;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 86%;
background-color: white;
        background-size: 20px;
        background-image: url('../icons/answer.png');
      }
    }
  }

 
}

/* עיצוב כללי של ה- scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* רוחב ה- scrollbar */
}

/* עיצוב חלק ספציפי של ה- scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(210, 210, 210);
  /* צבע המשולש של ה- scrollbar */
  border-radius: 0px;
  /* רדיוס הפינות של ה- scrollbar */
}

/* עיצוב על פי הגלילה של ה- scrollbar */
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  /* צבע רקע של ה- scrollbar */
}







@media only screen and (max-width: 960px) {
h1{
  display: none;
}

}




















/* 
.chat {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFFFFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .whatsapp-icon {
      margin-top: 10px;
  }

  .chat {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
  }
} */