<div class="background" *ngIf="popupDisplayIn">
    <div class="popup">
        <button class="close" (click)="close();cb1=true;cb2=false">x</button>
        <h2 *ngIf="status === 'add'">הוספת פרויקט</h2>
        <h2 *ngIf="status === 'update'">עדכון פרויקט</h2>


        <div allChose>
            <div chose>
                <button choseButton *ngIf="status === 'add'" cb1 [ngClass]="{cb1:cb1}"
                    (click)="cb1=true;cb2=false">בנים</button>
                <button choseButton *ngIf="status === 'add'" cb2 [ngClass]="{cb2:cb2}"
                    (click)="cb2=true;cb1=false">בנות</button>

                <button choseButton *ngIf="status === 'update'" cb1 [ngClass]="{cb1:projectUpdate.Pr_gender==1}"
                    (click)="cb1=true;cb2=false;projectUpdate.Pr_gender=1;">בן</button>
                <button choseButton *ngIf="status === 'update'" cb2 [ngClass]="{cb2:projectUpdate.Pr_gender==2}"
                    (click)="cb2=true;cb1=false;projectUpdate.Pr_gender=2;">בת</button>
            </div>

        </div>
        <label gray>השדות המסומנים ב* הם שדות חובה</label>

        <div contectAll>
            <div ca>
                <label>*שם הפרויקט</label>
                <input type="text" *ngIf="status === 'add'" (input)="onInputChangeName($event)">
                <input type="text" *ngIf="status === 'update'" value="{{projectUpdate.Pr_name}}"
                    (input)="onInputChangeName($event)">
                <label eror *ngIf="validPr_name">מוגבל ל-40 תוים</label>

            </div>
            <div ca>
                <label>*תאור</label>
                <textarea *ngIf="status === 'add'" (input)="onInputChangeDescription($event)"></textarea>
                <textarea *ngIf="status === 'update'" value="{{projectUpdate.Pr_description}}"
                    (input)="onInputChangeDescription($event)"></textarea>

                <label eror *ngIf="validPr_description">מוגבל ל-500 תוים</label>

            </div>
            <div ca>
                <label>*תכנים</label>
                <textarea *ngIf="status === 'add'" (input)="onInputChangeContent($event)"></textarea>
                <textarea *ngIf="status === 'update'" value="{{projectUpdate.Pr_content}}"
                    (input)="onInputChangeContent($event)"></textarea>

                <label eror *ngIf="validPr_content">מוגבל ל-100 תוים</label>

            </div>
            <div ca>
                <label>*מקום</label>
                <input type="text" *ngIf="status === 'add'" (input)="onInputChangePlace($event)">
                <input type="text" *ngIf="status === 'update'" value="{{projectUpdate.Pr_Place}}"
                    (input)="onInputChangePlace($event)">

                <label eror *ngIf="validPr_Place">מוגבל ל-50 תוים</label>

            </div>
            <div ca>
                <label>*תאריך</label>
                <input type="date" *ngIf="status === 'add'" (input)="onInputChangeDate($event)"
                    [ngClass]="{'borderInputGreen':Pr_date.length>0 && !validPr_date,'borderInputRed':validPr_date}">

                <input type="date" *ngIf="status === 'update'" [valueAsDate]="date(projectUpdate.Pr_date)"
                    (input)="onInputChangeDate($event)"
                    [ngClass]="{'borderInputGreen':Pr_date.length>0 && !validPr_date,'borderInputRed':validPr_date}">
                <label eror *ngIf="validPr_date">הכנס תאריך תקין</label>
            </div>

        </div>
        <br>
        <button *ngIf="status === 'add'" save (click)="add()">שמור</button>
        <button *ngIf="status === 'update'" save (click)="update()">עדכן</button>
    </div>

</div>