$color-pink: rgb(255, 0, 136);
$color-blue-light: rgb(40, 226, 255);
$color-yellow: rgb(255, 255, 82);
$color-green-light: rgb(11, 239, 7);
$color-orange: rgb(255, 140, 0);
$color-yellow: rgb(255, 255, 82);
$color-yellow-dark: rgb(253, 253, 11);
$color-turqis: rgb(31, 126, 104);
$color-turqis-dark: rgb(10, 70, 56);
$color-turqis-light: rgb(86, 191, 166);

[otefHI] {
    width: 95vw;
    margin: auto;
    display: flex;

    .color-cycle {
        height: 6vh;
        line-height: 6vh;
        width: 38vw;
        margin: 2vh auto 0.5vh auto;
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: 99%;
        background-size: contain;
        background-image: url('../../../assets/mmedalya5.png');
        font-size: 2.2vh;
        font-weight: bold;
        text-align: center;
        color: #fff;
        animation: backgroundCycle 5s linear infinite;
        transition: background-color 2s ease-in-out;
    }

    @keyframes backgroundCycle {

        0% {
            background-color: $color-turqis-light;
        }

        70% {
            background-color: $color-turqis;
        }

        75% {
            background-color: $color-turqis-light;
        }

        80% {
            background-color: $color-yellow;
        }

        85% {
            background-color: $color-yellow-dark;
        }

        90% {
            background-color: $color-yellow;
        }

        100% {
            background-color: $color-turqis-light;
        }

    }

}


[filter] {
    text-align: center;
    margin: 2vh auto 1vh auto;

    label {
        font-size: 18px;
        font-family: Assistant-Regular;
        color: rgb(48, 68, 70);

    }

    select {
        height: 4.5vh;
        display: inline-block;
        text-align: right;
        outline: none;
        color: rgb(48, 68, 70);
        font-size: 18px;
        //   border-radius: 5px;
        border: 1px solid rgb(137, 163, 165);
        width: 20vw;
        font-family: Assistant-Regular;
        background-color: rgb(255, 255, 255);

        option {
            background-color: white;
            font-family: Assistant-Regular;
            font-size: 1.1em;
            color: rgb(73, 82, 83);
            font-size: 18px;
        }

    }
}

[amounts1] {
    width: 85vw;
    margin: auto;
    display: flex;

    [box] {
        width: 20vw;
        height: 7.5vh;
      //  flex: 1;
       // margin: 1.4vh 1vw 0.8vh 1vw;
                margin: 1.4vh auto 0.8vh auto;

        display: inline-block;
        box-shadow: 4px 7px 10px 4px rgba(186, 186, 186, 0.6);
        text-align: center;
        color: white;

        [teur] {
            font-size: 2vh;
            font-family: Assistant-Regular;
        }

        [num] {
            height: 4.5vh;
            line-height: 4.5vh;
            color: rgb(255, 255, 255);
            margin-bottom: 0px;
            font-size: 4vh;
            font-family: Assistant-Bold;
            display: block;
        }
    }


    [b1] {
        background-color: $color-green-light;
        background-color: #029640;
    }

    [b2] {
        background-color: $color-orange;
        background-color: #ea6d00;
    }

    [b3] {
        background-color: #960202;
    }

    [b4] {
        background-color: #13217a;
        background-color: #3446c0;

    }
}

[amounts2] {
    width: 98vw;
    margin: 1.1vh auto 0vh auto;

    [title] {
        padding-right: 7.3vw;

        [box1] {
            width: 15vw;
            height: 6.3vh;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            margin: 1.5vh 1.3vw 0.3vh 1.3vw;
            display: inline-block;
            box-shadow: 4px 4px 10px rgba(184, 184, 184, 0.6);
            text-align: center;
            font-size: 1.9vh;
            font-family: Assistant-Bold;
            line-height: 10vh;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 3.6vh;

        }

        [b1] {
            background-image: url('../icons/colors/Topic00.png');
            border: 1px solid rgb(27, 152, 10);
            color: rgb(27, 152, 10);
        }

        [b2] {
            background-image: url('../icons/colors/meeting00.png');
            border: 1px solid rgb(184, 61, 186);
            color: rgb(184, 61, 186);
        }

        [b3] {
            background-image: url('../icons/colors/car00.png');
            border: 1px solid rgb(90, 217, 209);
            color: rgb(90, 217, 209)
        }

        [b4] {
            background-image: url('../icons/colors/time00.png');
            border: 1px solid rgb(253, 147, 8);
            color: rgb(253, 147, 8);
        }

        [b5] {
            background-image: url('../icons/colors/school00.png');
            border: 1px solid rgb(63, 72, 204);
            color: rgb(63, 72, 204)
        }
    }



    [contect] {
        display: inline-block;

        div {
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5vh;

            div {
                text-align: center;
                margin: 0.2vh 1.3vw;
                display: inline-block;
                height: 4.2vh;
                width: 15vw;
                box-shadow: 4px 4px 10px rgba(222, 222, 222, 0.6);
                font-size: 2.2vh;
                font-family: Assistant-Bold;

            }

            [c1] {
                line-height: 4.2vh;
                border-right: 1px solid rgb(27, 152, 10);
                border-left: 1px solid rgb(27, 152, 10);

            }

            [c2] {
                line-height: 4.2vh;
                border-right: 1px solid rgb(184, 61, 186);
                border-left: 1px solid rgb(184, 61, 186);

            }

            [c3] {
                line-height: 4.2vh;
                border-right: 1px solid rgb(90, 217, 209);
                border-left: 1px solid rgb(90, 217, 209);
                font-size: 1.8vh;

            }

            [c4] {
                line-height: 4.2vh;
                font-size: 2.3vh;
                border-right: 1px solid rgb(253, 147, 8);
                border-left: 1px solid rgb(253, 147, 8);
                font-size: 1.8vh;

            }

            [c5] {
                line-height: 4.2vh;
                border-right: 1px solid rgb(63, 72, 204);
                border-left: 1px solid rgb(63, 72, 204);
            }

            [titleSide] {
                font-size: 2.1vh;
                text-align: left;
                color: rgb(50, 50, 50);
                line-height: 4.4vh;
                width: 6vw;
                margin: 0.2vh 1.3vw 0.2vh 0vw;
                box-shadow: 0 6px 8px -4px rgba(184, 184, 184, 0.6);

            }

            [titleSide2] {
                font-size: 1.8vh;
                height: 10vh;
                text-align: left;
                color: rgb(50, 50, 50);
                white-space: normal; // מאפשר שבירת שורות
                line-height: 1.4;
                font-family: Assistant-Regular;
                width: 6vw;
                margin: 0.2vh 1.3vw 0.2vh 0vw;
                box-shadow: 0 6px 8px -4px rgba(184, 184, 184, 0.6);
            }

            [t1] {
                border-right: 1px solid rgb(27, 152, 10);
                border-left: 1px solid rgb(27, 152, 10);
            }

            [t2] {
                border-right: 1px solid rgb(184, 61, 186);
                border-left: 1px solid rgb(184, 61, 186);
            }

            [t3] {
                border-right: 1px solid rgb(90, 217, 209);
                border-left: 1px solid rgb(90, 217, 209);
            }

            [t4] {
                border-right: 1px solid rgb(253, 147, 8);
                border-left: 1px solid rgb(253, 147, 8);
            }

            [t5] {
                border-right: 1px solid rgb(63, 72, 204);
                border-left: 1px solid rgb(63, 72, 204);
            }

            [t1],
            [t2],
            [t3],
            [t4],
            [t5] {
                height: 10vh;
                margin: 0.2vh 1.3vw;
                padding-top: 1vh;

                .circle-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 7.4vh;
                    /* גודל הקונטיינר */
                    height: 7.4vh;
                    margin: 0.3vh auto;
                    box-shadow: 4px 4px 0px rgba(222, 222, 222, 0);

                    .progress-circle {
                        width: 100%;
                        /* גודל ה-SVG */
                        height: 100%;
                        transform: rotate(-90deg);
                        /* סובב את העיגול כך שההתקדמות תתחיל מלמעלה */
                    }

                    .circle-bg {
                        fill: none;
                        stroke: #e5e5e5;
                        stroke: #ffffff;

                        /* צבע אפור בהיר עבור עיגול הרקע */
                        stroke-width: 4;
                    }

                    .circle-progress {
                        fill: none;
                        stroke-width: 4;
                        stroke-linecap: round;
                        /* קצוות מעוגלים לקו ההתקדמות */
                        transition: stroke-dasharray 0.3s ease;
                        /* מעבר חלק */
                    }

                    .percentage-text {
                        font-size: 1.3vh;
                        /* התאמת גודל הטקסט */
                        fill: #333;
                    }
                }


            }

            [titleSide3] {
                width: 6vw;
                margin: 0.2vh 1.3vw 0.2vh 0vw;
                box-shadow: 0 6px 8px -4px rgba(184, 184, 184, 0.6);
                text-align: center;
                color: rgb(50, 50, 50);
                font-size: 1.7vh;
                height: 9vh;
                line-height: 1.5vh;
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: 6.5vh;
                background-image: url('../../../assets/mmdalya4.png');

            }

            [w1] {
                border-right: 1px solid rgb(27, 152, 10);
                border-left: 1px solid rgb(27, 152, 10);
            }

            [w2] {
                border-right: 1px solid rgb(184, 61, 186);
                border-left: 1px solid rgb(184, 61, 186);
            }

            [w3] {
                border-right: 1px solid rgb(90, 217, 209);
                border-left: 1px solid rgb(90, 217, 209);
            }

            [w4] {
                border-right: 1px solid rgb(253, 147, 8);
                border-left: 1px solid rgb(253, 147, 8);
            }

            [w5] {
                border-right: 1px solid rgb(63, 72, 204);
                border-left: 1px solid rgb(63, 72, 204);
            }

            [w1],
            [w2],
            [w3],
            [w4],
            [w5] {
                height: 9vh;
                margin: 0.2vh 1.3vw;
                font-size: 4vh;
                line-height: 9vh;
            }

            .one {
                font-weight: bold;
                color: #ff0000;
                /* צבע צהוב למספר */
                text-align: center;
                text-shadow:
                    0 0 10px #ff6969,
                    0 0 20px #ff3333,
                    0 0 30px #ff0000,
                    0 0 40px #ff0000,
                    0 0 50px #ff0000,
                    0 0 60px #d50000,
                    0 0 70px #a10000;
                animation: neonGlow 1.5s ease-in-out infinite;
                font-size: 5vh;

            }

            @keyframes neonGlow {

                0%,
                100% {
                    text-shadow:
                        0 0 10px #ff6969,
                        0 0 20px #ff3333,
                        0 0 30px #ff0000,
                        0 0 40px #ff0000,
                        0 0 50px #ff0000,
                        0 0 60px #d50000,
                        0 0 70px #a10000;
                }

                50% {
                    text-shadow:
                        0 0 20px #ffff66,
                        0 0 30px #ffff66,
                        0 0 40px #ffcc33,
                        0 0 50px #ffcc33,
                        0 0 60px #ff9933,
                        0 0 70px #ff9933,
                        0 0 80px #ff6600;
                }
            }

            .tow {
                font-weight: bold;
                color: #ffbf00;
                /* צבע צהוב למספר */
                text-align: center;
                text-shadow:
                    0 0 10px #ffff33,
                    0 0 20px #ffff33,
                    0 0 30px #ffcc00,
                    0 0 40px #ffcc00,
                    0 0 50px #ff9900,
                    0 0 60px #ff9900,
                    0 0 70px #ff6600;
                animation: neonGlow2 1.5s ease-in-out infinite;
                font-size: 5vh;

            }

            @keyframes neonGlow2 {

                0%,
                100% {
                    text-shadow:
                        0 0 10px #ffb769,
                        0 0 20px #ffb133,
                        0 0 30px #ff9100,
                        0 0 40px #ff9500,
                        0 0 50px #ff9500,
                        0 0 60px #ff6803,
                        0 0 70px #ea6d00;
                }

                50% {
                    text-shadow:
                        0 0 20px #ffff66,
                        0 0 30px #ffff66,
                        0 0 40px #ffcc33,
                        0 0 50px #ffcc33,
                        0 0 60px #ff9933,
                        0 0 70px #ff9933,
                        0 0 80px #ff6600;
                }
            }
        }

    }

}




@media only screen and (max-width: 960px) {
    [otefHI] {
        .color-cycle {
            width: 42vw;
        }
    }
}

@media only screen and (max-width: 767px) {
    [amounts1] {
        width: 95vw;

        [box] {
            width: 40vw;
        }

    }

    [otefHI] {
        display: block;

        .color-cycle {
            height: 9vh;
            line-height: 1.6;
            width: 85vw;
            display: block;

        }
    }
}