<div deshbord>
    <div boys>
        <div titlee t1><label>פעילות בנים</label></div>
        <div contect>
            <div box b1>
                <p  num>{{addCommasToNumber(amountBWorkers)}}</p>
                <p teur>{{"פעילים/חונכים"}}</p>
            </div>
            <div box b2>

                <p num>{{addCommasToNumber(amountBStudents)}}</p>
                <p teur>חניכים</p>
            </div>
            <br>
            <div box b3>
                <p num>{{addCommasToNumber(amountBActivites)}}</p>
                <p teur>שעות פעילות החודש</p>
            </div>
            <div box b4>
                <p num>{{addCommasToNumber(amountBKilometers)}}</p>
                <p teur>ק"מ נסיעה החודש</p>
            </div>
        </div>
        <br>
        <br>

    </div>
    <div girls>
        <div titlee t2><label>פעילות בנות</label></div>
        <div contect>
            <div box b5>
                <p num>{{addCommasToNumber(amountGWorkers)}}</p>
                <p teur>פעילות/חונכות</p>
            </div>
            <div box b6>

                <p num>{{addCommasToNumber(amountGStudents)}}</p>
                <p teur>חניכות</p>
            </div>
            <br>
            <div box b7>
                <p num>{{addCommasToNumber(amountGActivites)}}</p>
                <p teur>שעות פעילות החודש</p>
            </div>
            <div box b8>
                <p num>{{addCommasToNumber(amountGKilometers)}}</p>
                <p teur>ק"מ נסיעה החודש</p>
            </div>
        </div>
        <br>
        <br>

    </div>
</div>