<div filter>
    <label>בחירת פעיל: </label>
    <select (change)="selectFilter($event)">
        <option selected [value]="-1">כולל</option>
        <option [value]="-2">כללי בנים</option>
        <option [value]="-3">כללי בנות</option>
        <option *ngFor="let w of listWorkers" [value]="w.Wo_code">{{w.Wo_name+" "+w.Wo_Fname}}</option>
    </select>
</div>
<div amounts1>
    <div box b1>
        <p teur>פעילים</p>
        <p num>{{amountWorkers}}</p>
    </div>
    <div box b2>
        <p teur>חונכים</p>
        <p num>{{amountChonchim}}</p>
    </div>
    <div box b3>
        <p teur>חניכים פעילים</p>
        <p num>{{amountStudentPail}}</p>
    </div>
    <div box b4>
        <p teur>חניכים כללי</p>
        <p num>{{amountStudentAll}}</p>
    </div>

</div>
<div amounts2>
    <div title>
        <div box1 b1>פעילויות</div>
        <div box1 b2>פרונטלי</div>
        <div box1 b3>ק"מ</div>
        <div box1 b4>משך</div>
        <div box1 b5>שיבוץ בישיבה</div>
    </div>

    <div contect>
        <div>
            <div titleSide> שבועי </div>

            <div c1>{{matAmounts[0][0]}}</div>
            <div c2>{{matAmounts[0][1]}}</div>
            <div c3>{{matAmounts[0][2]}}</div>
            <div c4>{{matAmounts[0][3]}}</div>
            <div c5>{{matAmounts[0][4]}}</div>

        </div>
        <div>
            <div titleSide> חודשי </div>

            <div c1>{{matAmounts[1][0]}}</div>
            <div c2>{{matAmounts[1][1]}}</div>
            <div c3>{{matAmounts[1][2]}}</div>
            <div c4>{{matAmounts[1][3]}}</div>
            <div c5>{{matAmounts[1][4]}}</div>

        </div>
        <div>
            <div titleSide> שנתי </div>

            <div c1>{{matAmounts[2][0]}}</div>
            <div c2>{{matAmounts[2][1]}}</div>
            <div c3>{{matAmounts[2][2]}}</div>
            <div c4>{{matAmounts[2][3]}}</div>
            <div c5>{{matAmounts[2][4]}}</div>

        </div>
        <div>
            <div titleSide> כולל </div>

            <div c1>{{matAmounts[3][0]}}</div>
            <div c2>{{matAmounts[3][1]}}</div>
            <div c3>{{matAmounts[3][2]}}</div>
            <div c4>{{matAmounts[3][3]}}</div>
            <div c5>{{matAmounts[3][4]}}</div>

        </div>
        <div>
            <div titleSide> כולל </div>

            <div c1>{{matAmounts[3][0]}}</div>
            <div c2>{{matAmounts[3][1]}}</div>
            <div c3>{{matAmounts[3][2]}}</div>
            <div c4>{{matAmounts[3][3]}}</div>
            <div c5>{{matAmounts[3][4]}}</div>

        </div>
<!--         <div>
            <div  titleTop2>~~~דירוג יחסי~~~</div>

        </div> -->
        <div>
            <div titleSide>חודש </div>
            <div c1 t2></div>
            <div c2 t2></div>
            <div c3 t2></div>
            <div c4 t2></div>
            <div c5 t2></div>
        </div>
        <div>
            <div titleSide>חודש זה  </div>
            <div c1 t2></div>
            <div c2 t2></div>
            <div c3 t2></div>
            <div c4 t2></div>
            <div c5 t2></div>
        </div>
    </div>
</div>


<!-- <div deshbord>
    <div boys>
        <div titlee t1><label>פעילות בנים</label></div>
        <div contect>
            <div box b1>
                <p  num>{{addCommasToNumber(amountBWorkers)}}</p>
                <p teur>{{"פעילים/חונכים"}}</p>
            </div>
            <div box b2>

                <p num>{{addCommasToNumber(amountBStudents)}}</p>
                <p teur>חניכים</p>
            </div>
            <br>
            <div box b3>
                <p num>{{addCommasToNumber(amountBActivites)}}</p>
                <p teur>שעות פעילות החודש</p>
            </div>
            <div box b4>
                <p num>{{addCommasToNumber(amountBKilometers)}}</p>
                <p teur>ק"מ נסיעה החודש</p>
            </div>
        </div>
        <br>
        <br>

    </div>
    <div girls>
        <div titlee t2><label>פעילות בנות</label></div>
        <div contect>
            <div box b5>
                <p num>{{addCommasToNumber(amountGWorkers)}}</p>
                <p teur>פעילות/חונכות</p>
            </div>
            <div box b6>

                <p num>{{addCommasToNumber(amountGStudents)}}</p>
                <p teur>חניכות</p>
            </div>
            <br>
            <div box b7>
                <p num>{{addCommasToNumber(amountGActivites)}}</p>
                <p teur>שעות פעילות החודש</p>
            </div>
            <div box b8>
                <p num>{{addCommasToNumber(amountGKilometers)}}</p>
                <p teur>ק"מ נסיעה החודש</p>
            </div>
        </div>
        <br>
        <br>

    </div>
</div> -->