$color-pink: rgb(255, 0, 136);
$color-blue-light: rgb(40, 226, 255);
$color-yellow: rgb(255, 255, 82);
$color-green-light: rgb(11, 239, 7);
$color-orange: rgb(255, 140, 0);
[otefHI]{
width: 95vw;
    margin: auto;
    display: flex;
    .highlight-box {
        flex: 1;
    
        height: 8vh;
        width: 42vw;
        margin: 5vh 1vw 2vh 1vw;

        display: inline-block;
        justify-content: center;
        align-items: center;
        background: linear-gradient(45deg, #ffffff, #ffd7d0);
        color: rgb(151, 10, 10);
        font-size: 2.2vh;
        font-family: Assistant-Bold;
        line-height: 8vh;
        text-align: center;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(255, 146, 146, 0.7), 0 0 30px rgba(255, 242, 126, 0.7);
        animation: glow 2s infinite alternate;
        background-repeat: no-repeat;
        background-position: 99%;
        background-size: contain;
        background-image: url('../../../assets/medalya2.png');
    
        //  animation: glow 1.5s ease-in-out infinite;  /* זמן אנימציה חלק יותר */
    
    }
}


@keyframes glow {
    from {
        box-shadow: 0 0 0px rgba(255, 0, 0, 0.7), 0 0 0px rgba(247, 54, 109, 0.7);
    }

    to {
        box-shadow: 0 0 50px rgb(255, 233, 124), 0 0 60px rgb(254, 255, 170);
        font-size: 2.45vh;

    }
}



[filter] {
    text-align: center;
    margin: 2vh auto 1vh auto;

    label {
        font-size: 18px;
        font-family: Assistant-Regular;

    }

    select {
        height: 4.5vh;
        display: inline-block;
        text-align: right;
        outline: none;
        color: rgb(0, 0, 0);
        font-size: 18px;
        //   border-radius: 5px;
        border: 2px solid rgb(92, 125, 129);
        width: 20vw;
        font-family: Assistant-Regular;
        background-color: rgb(255, 255, 255);

        option {
            background-color: white;
            font-family: Assistant-Regular;
            font-size: 1.1em;
            color: black;
            font-size: 18px;

        }
    }
}

[amounts1] {
    width: 85vw;
    margin: auto;
display: flex;
    [box] {
        width: 20vw;
        height: 6.7vh;
        flex: 1;
        margin: 1.4vh 1vw 0.8vh 1vw;
        display: inline-block;
        box-shadow: 4px 4px 10px rgba(203, 203, 203, 0.6);
        text-align: center;

        [teur] {
            font-size: 2.9vh;
            font-family: Assistant-Regular;
            height: 1.1vh;
        }

        [num] {
            height: 5.6vh;
            line-height: 5.6vh;

            font-size: 3.8vh;
            font-family: Assistant-Bold;
            display: block;
            background-color: rgb(214, 255, 235);
        }
    }

    [b1] {
        background-color: $color-green-light
    }

    [b2] {
        background-color: $color-orange
    }

    [b3] {
        background-color: rgb(0, 221, 173);
    }

    [b4] {
        background-color: rgb(219, 40, 255);
    }
}

[amounts2] {
    width: 98vw;
    margin: 1.1vh auto 0vh auto;

    [title] {
        padding-right: 12vw;

        [box1] {
            width: 16vw;
            height: 6.3vh;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            margin: 1.5vh 0.5vw 0.3vh 0.5vw;
            display: inline-block;
            box-shadow: 4px 4px 10px rgba(184, 184, 184, 0.6);
            text-align: center;
            font-size: 2.1vh;
            font-family: Assistant-Bold;
            line-height: 10vh;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 3.6vh;

        }

        [b1] {
            background-color: rgb(255, 152, 152);
            background-color: rgb(186, 43, 43);

            background-image: url('../icons/Topic.png');
        }

        [b2] {
            background-color: rgb(255, 224, 152);
            background-color: rgb(201, 144, 11);

            background-image: url('../icons/meeting2black.png');
        }

        [b3] {
            background-color: rgb(241, 255, 152);
            background-color: rgb(147, 167, 19);

            background-image: url('../icons/car3black.png');
        }

        [b4] {
            background-color: rgb(174, 255, 152);
            background-color: rgb(58, 167, 28);

            background-image: url('../icons/time.png');
        }

        [b5] {
            background-color: rgb(152, 255, 219);
            background-color: rgb(17, 129, 90);

            background-image: url('../icons/school6black.png');
        }
    }



    [contect] {
        display: inline-block;

        div {
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5vh;

            div {
                text-align: center;
                margin: 0.2vh 0.5vw;
                display: inline-block;
                height: 4.4vh;
                width: 16vw;
                box-shadow: 4px 4px 10px rgba(222, 222, 222, 0.6);
                font-size: 2.5vh;
                font-family: Assistant-Bold;

            }

            [c1] {
           //     background-color: rgb(255, 220, 220);
                line-height: 4.4vh;
        //        color: rgb(27, 102, 94);
 
            }

            [c2] {
                 line-height: 4.4vh;
             /*   background-color: rgb(255, 240, 205);
                color: rgb(27, 102, 94);
 */
            }

            [c3] {
               line-height: 4.4vh;
              /*    background-color: rgb(248, 255, 203);
                color: rgb(27, 102, 94);
 */
            }

            [c4] {
                line-height: 4.4vh;
              //  background-color: rgb(210, 251, 198);
                font-size: 2.3vh;
              //  color: rgb(27, 102, 94);

            }

            [c5] {
            //    background-color: rgb(217, 255, 242);
                line-height: 4.4vh;
           //     color: rgb(27, 102, 94);

            }

            [titleSide] {
                width: 11vw;
                background-color: rgb(1, 180, 150); // צבע טורקיז כהה
                background-color: rgb(20, 233, 169);
                background-color: rgb(25, 199, 147);

                color: white;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                line-height: 4.4vh;
            }

            [titleSide2] {
                width: 11vw;
                background-color: rgb(20, 233, 169);
                background-color: rgb(1, 180, 150); // צבע טורקיז כהה
                background-color: rgb(12, 153, 130); // צבע טורקיז כהה

                color: rgb(255, 255, 255);
                font-size: 2.2vh;
                height: 8vh;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                white-space: normal; // מאפשר שבירת שורות
                //  overflow-wrap: break-word; // תומך בשבירת מילים בגרסאות דפדפנים חדשות
                margin: 0.2vh 0.5vw;
                line-height: 4vh;
                font-family: Assistant-Regular;
            }

            [t1] {
                background-color: rgb(255, 206, 206);

            }

            [t2] {
                background-color: rgb(255, 235, 188);

            }

            [t3] {
                background-color: rgb(246, 255, 188);

            }

            [t4] {
                background-color: rgb(200, 255, 185);

            }

            [t5] {
                background-color: rgb(198, 255, 235);

            }

            [t1],
            [t2],
            [t3],
            [t4],
            [t5] {
                height: 8vh;
                margin: 0.2vh 0.5vw;

                .circle-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 7.4vh;
                    /* גודל הקונטיינר */
                    height: 7.4vh;
                    margin: 0.3vh auto;
                    box-shadow: 4px 4px 0px rgba(222, 222, 222, 0);

                    .progress-circle {
                        width: 100%;
                        /* גודל ה-SVG */
                        height: 100%;
                        transform: rotate(-90deg);
                        /* סובב את העיגול כך שההתקדמות תתחיל מלמעלה */
                    }

                    .circle-bg {
                        fill: none;
                        stroke: #e5e5e5;
                        stroke: #ffffff;

                        /* צבע אפור בהיר עבור עיגול הרקע */
                        stroke-width: 4;
                    }

                    .circle-progress {
                        fill: none;
                        stroke-width: 4;
                        stroke-linecap: round;
                        /* קצוות מעוגלים לקו ההתקדמות */
                        transition: stroke-dasharray 0.3s ease;
                        /* מעבר חלק */
                    }

                    .percentage-text {
                        font-size: 1.3vh;
                        /* התאמת גודל הטקסט */
                        fill: #333;
                    }
                }


            }

            [titleSide3] {
                width: 11vw;
                background-color: rgb(201, 255, 231);
                color: rgb(27, 102, 94);
                font-size: 2.1vh;
                height: 9vh;
                margin: 0.2vh 0.5vw;
                line-height: 14vh;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                background-repeat: no-repeat;
                background-position: top center;
                background-size: 6.5vh;
                background-image: url('../../../assets/medalya3.png');

            }

            [w1] {
                background-color: rgb(255, 236, 236);
            }

            [w2] {
                background-color: rgb(255, 246, 226);
            }

            [w3] {
                background-color: rgb(251, 255, 224);
            }

            [w4] {
                background-color: rgb(227, 254, 218);
            }

            [w5] {
                background-color: rgb(234, 255, 248);

            }

            [w1],
            [w2],
            [w3],
            [w4],
            [w5] {
                height: 9vh;
                margin: 0.2vh 0.5vw;
                font-size: 4.8vh;
                line-height: 9vh;
            }
            .one{
                font-weight: bold;
                color: #ff0000; /* צבע צהוב למספר */
                text-align: center;
                text-shadow: 
                  0 0 10px #ff6969, 
                 0 0 20px #ff3333,   
                  0 0 30px #ff0000,  
                  0 0 40px #ff0000, 
                  0 0 50px #ff0000, 
                  0 0 60px #d50000,  
                  0 0 70px #a10000;   
                animation: neonGlow 1.5s ease-in-out infinite;
                font-size: 5vh;
            
            }
            @keyframes neonGlow {
                0%, 100% {
                    text-shadow: 
                    0 0 10px #ff6969, 
                   0 0 20px #ff3333,   
                    0 0 30px #ff0000,  
                    0 0 40px #ff0000, 
                    0 0 50px #ff0000, 
                    0 0 60px #d50000,  
                    0 0 70px #a10000; 
                }
                50% {
                  text-shadow: 
                    0 0 20px #ffff66,
                    0 0 30px #ffff66,
                    0 0 40px #ffcc33,
                    0 0 50px #ffcc33,
                    0 0 60px #ff9933,
                    0 0 70px #ff9933,
                    0 0 80px #ff6600;
                }
                 }
                 .tow{
                    font-weight: bold;
                    color: #ffbf00; /* צבע צהוב למספר */
                    text-align: center;
                    text-shadow: 
                      0 0 10px #ffff33, 
                     0 0 20px #ffff33,   
                      0 0 30px #ffcc00,  
                      0 0 40px #ffcc00, 
                      0 0 50px #ff9900, 
                      0 0 60px #ff9900,  
                      0 0 70px #ff6600;   
                    animation: neonGlow2 1.5s ease-in-out infinite;
                    font-size: 5vh;
                
                }
                @keyframes neonGlow2 {
                    0%, 100% {
                        text-shadow: 
                        0 0 10px #ffb769, 
                       0 0 20px #ffb133,   
                        0 0 30px #ff9100,  
                        0 0 40px #ff9500,  
                        0 0 50px #ff9500,
                        0 0 60px #ff6803,  
                        0 0 70px #ea6d00; 
                    }
                    50% {
                      text-shadow: 
                        0 0 20px #ffff66,
                        0 0 30px #ffff66,
                        0 0 40px #ffcc33,
                        0 0 50px #ffcc33,
                        0 0 60px #ff9933,
                        0 0 70px #ff9933,
                        0 0 80px #ff6600;
                    }
                     }
        }

    }

}




@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 767px) {
    [amounts1] {
        width: 95vw;

        [box] {
            width: 40vw;
        }

    }
}










/* 

//////////
[deshbord] {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 89vh;
    overflow-y: scroll;
    [boys] {
        width: 50vw;
        border-left: 3px gray solid;
    }

    [girls] {
        width: 50vw;
    }
}

[titlee] {
    font-size: 2.5vw;
    font-family: Assistant-Bold;
    margin-bottom: 1.5vh;
    margin: 20px auto;

}
[t1]{
    color: $color-blue-light;
}
[t2]{
    color: $color-pink;
}
[contect] {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    [box] {
        width: 20vw;
        height: 23vh;
        margin: 2vh 1.5vw;
        display: inline-block;
        box-shadow: 4px 4px 10px rgba(75, 75, 75, 0.6);


        [num] {
            padding-top: 20%;
            font-size: 4.9vh;
            font-family: Assistant-Bold;
            display: block;

        }

        [teur] {
            font-size: 1.6vw;
            padding-top: 7%;
            font-family: DanaYad-Bold;
            font-weight: bolder;

        }
    }

    [b1] {
        background-color: rgb(13, 208, 226);
    }

    [b2] {
        background-color: rgb(19, 219, 199);
    }

    [b3] {
        background-color: rgb(98, 132, 255);
    }

    [b4] {
        background-color: rgb(69, 140, 247);
    }



    [b5] {
        background-color: rgb(255, 96, 159);
    }

    [b6] {
        background-color: rgb(255, 85, 85);
    }

    [b7] {
        background-color: rgb(255, 0, 136);
    }

    [b8] {
        background-color: rgb(243, 82, 125);
    }
} */


