$color-pink: rgb(255, 0, 136);
$color-blue-light: rgb(40, 226, 255);
$color-yellow: rgb(255, 255, 82);
$color-green-light: rgb(11, 239, 7);
$color-orange: rgb(255, 140, 0);

[filter] {
    text-align: center;
    margin: 2vh auto 1vh auto;

    label {
        font-size: 18px;
        font-family: Assistant-Regular;

    }

    select {
        height: 4.5vh;
        display: inline-block;
        text-align: right;
        outline: none;
        color: rgb(0, 0, 0);
        font-size: 18px;
        //   border-radius: 5px;
        border: 2px solid rgb(92, 125, 129);
        width: 20vw;
        font-family: Assistant-Regular;
        background-color: rgb(255, 255, 255);

        option {
            background-color: white;
            font-family: Assistant-Regular;
            font-size: 1.1em;
            color: black;
            font-size: 18px;

        }
    }
}

[amounts1] {
    width: 90vw;
    margin: auto;

    [box] {
        width: 20vw;
        height: 7vh;
        margin: 1.4vh 1vw;
        display: inline-block;
        box-shadow: 4px 4px 10px rgba(203, 203, 203, 0.6);
        text-align: center;

        [teur] {
            font-size: 2.9vh;
            font-family: Assistant-Regular;
            height: 1.1vh;
        }

        [num] {
            height: 5.9vh;
            line-height: 5.9vh;

            font-size: 3.9vh;
            font-family: Assistant-Bold;
            display: block;
            background-color: rgb(214, 255, 235);
        }
    }

    [b1] {
        background-color: $color-green-light
    }

    [b2] {
        background-color: $color-orange
    }

    [b3] {
        background-color: rgb(0, 221, 173);
    }

    [b4] {
        background-color: rgb(180, 88, 255);
    }
}

[amounts2] {
    width: 98vw;
    margin: 2vh auto;

    [title] {
        padding-right: 12vw;

        [box1] {
            width: 16vw;
            height: 6.5vh;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            margin: 1.5vh 0.5vw 0.3vh 0.5vw;
            display: inline-block;
            box-shadow: 4px 4px 10px rgba(184, 184, 184, 0.6);
            text-align: center;
            font-size: 2.1vh;
            font-family: Assistant-Bold;
            line-height: 10vh;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 3.8vh;

        }

        [b1] {
            background-color: rgb(255, 152, 152);
            background-image: url('../icons/Topic.png');
        }

        [b2] {
            background-color: rgb(255, 224, 152);
            background-image: url('../icons/meeting2black.png');
        }

        [b3] {
            background-color: rgb(241, 255, 152);
            background-image: url('../icons/car3black.png');
        }

        [b4] {
            background-color: rgb(174, 255, 152);
            background-image: url('../icons/time.png');
        }

        [b5] {
            background-color: rgb(152, 255, 219);
            background-image: url('../icons/school6black.png');
        }
    }



    [contect] {
        display: inline-block;

        div {

            div {
                text-align: center;
                margin: 0.2vh 0.5vw;
                display: inline-block;
                height: 4.5vh;
                width: 16vw;
                box-shadow: 4px 4px 10px rgba(222, 222, 222, 0.6);
                font-size: 2.5vh;
                font-family: Assistant-Bold;

            }

            [c1] {
                background-color: rgb(255, 206, 206);

                line-height: 4.5vh;

            }

            [c2] {
                background-color: rgb(255, 235, 188);
                line-height: 4.5vh;

            }

            [c3] {
                background-color: rgb(246, 255, 188);
                line-height: 4.5vh;

            }

            [c4] {
                background-color: rgb(200, 255, 185);
                line-height: 4.5vh;

            }

            [c5] {
                background-color: rgb(198, 255, 235);
                line-height: 4.5vh;

            }

            [titleSide] {
                width: 11vw;
                background-color: rgb(1, 180, 150); // צבע טורקיז כהה
                color: white;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                line-height: 4.5vh;

            }

            [titleTop2] {
                width: 100%;
                background-color: white;
                color: rgb(10, 103, 87);
                font-size: 3.2vh;
                box-shadow: 4px 4px 0px rgba(222, 222, 222, 0);
                line-height: 4.5vh;
text-align: right;

            }

            [titleSide2] {
                width: 11vw;
                background-color: rgb(20, 233, 169);
                color: rgb(255, 255, 255);
                //  font-size: 2.7vh;
                height: 8vh;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
            //    white-space: normal; // מאפשר שבירת שורות
                //  overflow-wrap: break-word; // תומך בשבירת מילים בגרסאות דפדפנים חדשות
                margin: 0.2vh 0.5vw;
                line-height: 4.5vh;

            }

 /*            [t21] {
                line-height: 8vh;

            } */
            [t1] {
                background-color: rgb(255, 220, 220);
            }

            [t2] {
                background-color: rgb(255, 240, 205);
            }

            [t3] {
                background-color: rgb(248, 255, 203);
            }

            [t4] {
                background-color: rgb(210, 251, 198);
            }

            [t5] {
                background-color: rgb(217, 255, 242);

            }
            [t1],[t2],[t3],[t4],[t5] {
                height: 8vh;
                margin: 0.2vh 0.5vw;

                .circle-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 7.5vh;
                    /* גודל הקונטיינר */
                    height: 7.5vh;
                    margin: 0.25vh auto;
                    box-shadow: 4px 4px 0px rgba(222, 222, 222, 0);

                    .progress-circle {
                        width: 100%;
                        /* גודל ה-SVG */
                        height: 100%;
                        transform: rotate(-90deg);
                        /* סובב את העיגול כך שההתקדמות תתחיל מלמעלה */
                    }

                    .circle-bg {
                        fill: none;
                        stroke: #e5e5e5;
                        /* צבע אפור בהיר עבור עיגול הרקע */
                        stroke-width: 3.9;
                    }

                    .circle-progress {
                        fill: none;
                        stroke-width: 3.9;
                        stroke-linecap: round;
                        /* קצוות מעוגלים לקו ההתקדמות */
                        transition: stroke-dasharray 0.3s ease;
                        /* מעבר חלק */
                    }

                    .percentage-text {
                        font-size: 10px;
                        /* התאמת גודל הטקסט */
                        fill: #333;
                    }
                }


            }
        }
    }

}





@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 767px) {
    [amounts1] {
        width: 95vw;

        [box] {
            width: 40vw;
        }

    }
}










/* 

//////////
[deshbord] {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 89vh;
    overflow-y: scroll;
    [boys] {
        width: 50vw;
        border-left: 3px gray solid;
    }

    [girls] {
        width: 50vw;
    }
}

[titlee] {
    font-size: 2.5vw;
    font-family: Assistant-Bold;
    margin-bottom: 1.5vh;
    margin: 20px auto;

}
[t1]{
    color: $color-blue-light;
}
[t2]{
    color: $color-pink;
}
[contect] {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    [box] {
        width: 20vw;
        height: 23vh;
        margin: 2vh 1.5vw;
        display: inline-block;
        box-shadow: 4px 4px 10px rgba(75, 75, 75, 0.6);


        [num] {
            padding-top: 20%;
            font-size: 4.9vh;
            font-family: Assistant-Bold;
            display: block;

        }

        [teur] {
            font-size: 1.6vw;
            padding-top: 7%;
            font-family: DanaYad-Bold;
            font-weight: bolder;

        }
    }

    [b1] {
        background-color: rgb(13, 208, 226);
    }

    [b2] {
        background-color: rgb(19, 219, 199);
    }

    [b3] {
        background-color: rgb(98, 132, 255);
    }

    [b4] {
        background-color: rgb(69, 140, 247);
    }



    [b5] {
        background-color: rgb(255, 96, 159);
    }

    [b6] {
        background-color: rgb(255, 85, 85);
    }

    [b7] {
        background-color: rgb(255, 0, 136);
    }

    [b8] {
        background-color: rgb(243, 82, 125);
    }
} */