<div filter *ngIf="status=='system'">
    <label>בחר: </label>
    <select (change)="selectFilter($event)">
        <option selected [value]="-1">כולל</option>
        <option [value]="-2">כללי בנים</option>
        <option [value]="-3">כללי בנות</option>
        <option *ngFor="let w of listWorkers" [value]="w.Wo_code"> <label
                *ngIf="w.Wo_type_worker==1&&w.Wo_gender==1">פעיל:</label> <label
                *ngIf="w.Wo_type_worker==2&&w.Wo_gender==1">חונך:</label>
            <label *ngIf="w.Wo_type_worker==1&&w.Wo_gender==2">פעילה:</label> <label
                *ngIf="w.Wo_type_worker==2&&w.Wo_gender==2">חונכת:</label> {{w.Wo_name+" "+w.Wo_Fname}}
        </option>
    </select>
</div>




<div amounts1>
    <div box b1 *ngIf="status=='system'&& codeFilter<0">
        <p num>{{matAmounts[0][0]}}</p>
        <p teur>פעילים</p>
    </div>
    <div box b2 *ngIf="status=='system'&& codeFilter<0">
        <p num>{{matAmounts[0][1]}}</p>
        <p teur>חונכים</p>
    </div>
    <div box b3>
        <p num>{{matAmounts[0][2]}}</p>
        <p teur>חניכים פעילים</p>
    </div>
    <div box b4>
        <p num>{{matAmounts[0][3]}}</p>
        <p teur>חניכים כללי</p>
    </div>
</div>
<div amounts2>
    <div title>
        <div box1 b1>פעילויות</div>
        <div box1 b2>פרונטלי</div>
        <div box1 b3>ק"מ</div>
        <div box1 b4>משך</div>
        <div box1 b5>שיבוץ בישיבה</div>
    </div>

    <div contect>

        <div>
            <div titleSide> שבועי </div>

            <div c1>{{addCommasToNumber(matAmounts[1][0])}}</div>
            <div c2>{{addCommasToNumber(matAmounts[1][1])}}</div>
            <div c3>{{addCommasToNumber(matAmounts[1][2])}}</div>
            <div c4 *ngIf="matAmounts[1][3]==0"></div>

            <div c4 *ngIf="hours(matAmounts[1][3])!=='0' && minutes(matAmounts[1][3]) !=='0' ">
                {{hours(matAmounts[1][3])}} שעות
                ו-{{minutes(matAmounts[1][3])}} דקות </div>
            <div c4 *ngIf="hours(matAmounts[1][3])==='0' && minutes(matAmounts[1][3]) !=='0' ">
                {{minutes(matAmounts[1][3])}} דקות
            </div>
            <div c4 *ngIf="hours(matAmounts[1][3])!=='0' && minutes(matAmounts[1][3]) ==='0' ">
                {{hours(matAmounts[1][3])}} שעות</div>
            <div c5>{{addCommasToNumber(matAmounts[1][4])}}</div>

        </div>
        <div>
            <div titleSide> חודשי </div>

            <div c1>{{addCommasToNumber(matAmounts[2][0])}}</div>
            <div c2>{{addCommasToNumber(matAmounts[2][1])}}</div>
            <div c3>{{addCommasToNumber(matAmounts[2][2])}}</div>
            <div c4 *ngIf="matAmounts[2][3]==0"></div>

            <div c4 *ngIf="hours(matAmounts[2][3])!=='0' && minutes(matAmounts[2][3]) !=='0' ">
                {{hours(matAmounts[2][3])}} שעות
                ו-{{minutes(matAmounts[2][3])}} דקות </div>
            <div c4 *ngIf="hours(matAmounts[2][3])==='0' && minutes(matAmounts[2][3]) !=='0' ">
                {{minutes(matAmounts[2][3])}} דקות
            </div>
            <div c4 *ngIf="hours(matAmounts[2][3])!=='0' && minutes(matAmounts[2][3]) ==='0' ">
                {{hours(matAmounts[2][3])}} שעות</div>
            <div c5>{{addCommasToNumber(matAmounts[2][4])}}</div>

        </div>
        <div>
            <div titleSide> שנתי </div>

            <div c1>{{addCommasToNumber(matAmounts[3][0])}}</div>
            <div c2>{{addCommasToNumber(matAmounts[3][1])}}</div>
            <div c3>{{addCommasToNumber(matAmounts[3][2])}}</div>
            <div c4 *ngIf="matAmounts[3][3]==0"></div>

            <div c4 *ngIf="hours(matAmounts[3][3])!=='0' && minutes(matAmounts[3][3]) !=='0' ">
                {{hours(matAmounts[3][3])}} שעות
                ו-{{minutes(matAmounts[3][3])}} דקות </div>
            <div c4 *ngIf="hours(matAmounts[3][3])==='0' && minutes(matAmounts[3][3]) !=='0' ">
                {{minutes(matAmounts[3][3])}} דקות
            </div>
            <div c4 *ngIf="hours(matAmounts[3][3])!=='0' && minutes(matAmounts[3][3]) ==='0' ">
                {{hours(matAmounts[3][3])}} שעות</div>
            <div c5>{{addCommasToNumber(matAmounts[3][4])}}</div>

        </div>
        <div>
            <div titleSide> כולל </div>

            <div c1>{{addCommasToNumber(matAmounts[4][0])}}</div>
            <div c2>{{addCommasToNumber(matAmounts[4][1])}}</div>
            <div c3>{{addCommasToNumber(matAmounts[4][2])}}</div>
            <div c4 *ngIf="matAmounts[4][3]==0"></div>
            <div c4 *ngIf="hours(matAmounts[4][3])!=='0' && minutes(matAmounts[4][3]) !=='0' ">
                {{hours(matAmounts[4][3])}} שעות
                ו-{{minutes(matAmounts[4][3])}} דקות </div>
            <div c4 *ngIf="hours(matAmounts[4][3])==='0' && minutes(matAmounts[4][3]) !=='0' ">
                {{minutes(matAmounts[4][3])}} דקות
            </div>
            <div c4 *ngIf="hours(matAmounts[4][3])!=='0' && minutes(matAmounts[4][3]) ==='0' ">
                {{hours(matAmounts[4][3])}} שעות</div>
            <div c5>{{addCommasToNumber(matAmounts[4][4])}}</div>

        </div>


        <div>
            <div titleSide2 t21>דירוג יחסי לחודש קודם </div>
            <div t1>
                <app-gauge-component [sum]="matAmounts[5][0]+100"></app-gauge-component>
            </div>
            <div t2>
                <app-gauge-component [sum]="matAmounts[5][1]+100"></app-gauge-component>
            </div>
            <div t3>
                <app-gauge-component [sum]="matAmounts[5][2]+100"></app-gauge-component>
            </div>
            <div t4>
                <app-gauge-component [sum]="matAmounts[5][3]+100"></app-gauge-component>
            </div>
            <div t5>
                <app-gauge-component [sum]="matAmounts[5][4]+100"></app-gauge-component>

            </div>
        </div>
        <div>
            <div titleSide2>דירוג יחסי לחודש זה בשנה שעברה</div>
            <div t1>
                <app-gauge-component [sum]="matAmounts[6][0]+100"></app-gauge-component>
            </div>
            <div t2>
                <app-gauge-component [sum]="matAmounts[6][1]+100"></app-gauge-component>

            </div>
            <div t3>
                <app-gauge-component [sum]="matAmounts[6][2]+100"></app-gauge-component>

            </div>
            <div t4>
                <app-gauge-component [sum]="matAmounts[6][3]+100"></app-gauge-component>

            </div>
            <div t5>
                <app-gauge-component [sum]="matAmounts[6][4]+100"></app-gauge-component>

            </div>
        </div>
        <div *ngIf="codeFilter>0">
            <div titleSide3 *ngIf="status!='system'">
                מיקומך השבוע
            </div>
            <div titleSide3 *ngIf="status=='system'">
                מיקומו השבוע
            </div>
            <div w1 *ngIf="matAmounts[7][0]==0">---</div>
            <div w1 *ngIf="matAmounts[7][0]>0" [ngClass]="{'one':matAmounts[7][0]==1,'tow':matAmounts[7][0]==2}">
                {{matAmounts[7][0]}}</div>
            <div w2 *ngIf="matAmounts[7][1]==0">---</div>
            <div w2 *ngIf="matAmounts[7][1]>0" [ngClass]="{'one':matAmounts[7][1]==1,'tow':matAmounts[7][1]==2}">
                {{matAmounts[7][1]}}</div>
            <div w3 *ngIf="matAmounts[7][2]==0">---</div>
            <div w3 *ngIf="matAmounts[7][2]>0" [ngClass]="{'one':matAmounts[7][2]==1,'tow':matAmounts[7][2]==2}">
                {{matAmounts[7][2]}}</div>
            <div w4 *ngIf="matAmounts[7][3]==0">---</div>
            <div w4 *ngIf="matAmounts[7][3]>0" [ngClass]="{'one':matAmounts[7][3]==1,'tow':matAmounts[7][3]==2}">
                {{matAmounts[7][3]}}</div>
            <div w5 *ngIf="matAmounts[7][4]==0">---</div>
            <div w5 *ngIf="matAmounts[7][4]>0" [ngClass]="{'one':matAmounts[7][4]==1,'tow':matAmounts[7][4]==2}">
                {{matAmounts[7][4]}}</div>

        </div>
    </div>
</div>
<div otefHI>
    <div class="color-cycle" *ngIf="matAmounts[8][0] > 0">
        ברכות לפעיל {{ nameWorker(matAmounts[8][0]) }} - מקסימום זמן פעילות פר חניך השבוע
    </div>
    <div class="color-cycle" *ngIf="matAmounts[8][1]>0">
        ברכות לפעיל {{nameWorker(matAmounts[8][1])}} - שיבוץ בהצלחה
    </div>
</div>
