<div background1>

    <div popup1 Yesprint>
        <button nonePrint close (click)="close();">x</button>

        <p name Yesprint><label inName>פרויקט | </label>{{ project.Pr_name }} </p>
        <label amount> {{amountSharersAndStudents}} משתתפים</label>

        <button buttonTop addStudent (click)="enterListOfStudents();sAddStudentForProject=true; ">שייך חניכים
            ממאגר</button>
        <button buttonTop exelSharers (click)="sUploadExcel = true">הוסף משתתפים מקובץ אקסל</button>
        <button buttonTop addGuide (click)="sAddGuide = true">הוסף מדריך</button>
        <button buttonTop print (click)="print()">הדפס</button>

        <div *ngFor="let g of listAll" class="guide-section">
            <div class="guide-title">
                <div otefLabelGuide>
                    <label inName>מדריך | </label>{{ g.guide.GFP_name }}
                </div>

                <div otefButtonGuide>
                    <button edit title="ערוך" (click)="editGuide(g);">ערוך</button>
                    <button iconn2 delete title="מחק" class="button" (click)="deleteGuide(g)"></button>
                </div>

            </div>

            <div tagList>חניכים ומשתתפים:</div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>שם</th>
                        <th>ת.ז</th>
                        <th>פל' משתתף/חניך</th>
                        <th>שם אב</th>
                        <th>ישיבה</th>
                        <th>שיעור</th>
                        <th nonePrint> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of g.sharers">
                        <td (click)="displaySharer(s.Sharer);">
                            <div class="iconBig"
                                [ngClass]="{'iconColorBoy':s.Sharer.Sh_gender==1,'iconColorGirl':s.Sharer.Sh_gender==2,}">
                                <div class="icon"></div>
                            </div>
                        </td>
                        <td class="bold" (click)="displaySharer(s.Sharer);">{{s.Sharer.Sh_Fname+" "+s.Sharer.Sh_name}}
                        </td>
                        <td (click)="displaySharer(s.Sharer);">{{s.Sharer.Sh_ID}}</td>
                        <td (click)="displaySharer(s.Sharer);">{{s.Sharer.Sh_cell_phone}}</td>
                        <td (click)="displaySharer(s.Sharer);">{{s.SFP_name_school_bein_hazmanim}}</td>
                        <td (click)="displaySharer(s.Sharer);">{{s.Sharer.Sh_nusah_tfila}}</td>
                        <td (click)="displaySharer(s.Sharer);">{{s.SFP_veshinantem}}</td>

                        <td nonePrint>
                            <button edit title="ערוך" (click)="editSharer(s);">ערוך</button>
                            <button edit addStudent title="רְשום כחניך" (click)="editSharerForStudent(s);">רשום
                                כחניך</button>

                            <button iconn2 delete title="מחק" class="button"
                                (click)="deleteSharer(s.SFP_code,s.Sharer.Sh_name+' '+s.Sharer.Sh_Fname)"></button>
                    </tr>
                    <tr *ngFor="let s of g.students">
                        <td (click)="displayStudent(s.Student);">
                            <div class="iconBig"
                                [ngClass]="{'iconColorBoy':s.Student.St_gender==1,'iconColorGirl':s.Student.St_gender==2,}">
                                <div class="icon"></div>
                            </div>
                        </td>
                        <td class="bold" (click)="displayStudent(s.Student);">{{s.Student.St_Fname +"
                            "+s.Student.St_name}}</td>
                        <td (click)="displayStudent(s.Student);">{{s.Student.St_ID}}</td>
                        <td (click)="displayStudent(s.Student);">{{s.Student.St_cell_phone}}</td>
                        <td (click)="displayStudent(s.Student);">{{s.SFP_name_school_bein_hazmanim}}</td>
                        <td (click)="displayStudent(s.Student);">{{s.Student.St_nusah_tfila}}</td>
                        <td (click)="displayStudent(s.Student);">{{s.SFP_veshinantem}}</td>

                        <td nonePrint>
                            <button edit title="ערוך" (click)="editStudent(s);">ערוך</button>
                            <div studentAlredy>רַשום כחניך במערכת</div>

                            <button iconn2 delete title="מחק" class="button"
                                (click)="deleteStudent(s.SFP_code ,s.Student.St_name+' '+s.Student.St_Fname)"></button>
                    </tr>
                </tbody>
            </table>

            <!--    <ul class="tag-list">
                <li tagListItem *ngFor="let s of g.students">
                    <div><strong>{{ s.Student.St_name + " " + s.Student.St_Fname }}</strong></div>
                    <div>ת.ז: {{ s.Student.St_ID }}</div>
                </li>
                <li tagListItem *ngFor="let s of g.sharers">
                    <div><strong>{{ s.Sharer.Sh_name + " " + s.Sharer.Sh_Fname }}</strong></div>
                    <div>ת.ז: {{ s.Sharer.Sh_ID }}</div>
                </li>
            </ul> -->
        </div>
    </div>

</div>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<!-- העלאת קובץ אקסל משתתפים
 -->
<app-upload-file-excel [popupDisplayIn]="sUploadExcel" [status]="'משתתפים'" [codeProject]="project.Pr_code"
    (popupDisplayOut)="closePUploadExcel($event)"></app-upload-file-excel>
<!-- הוספת חניך ממאגר לפרויקטים
 --><app-add-student-for-project [popupDisplayIn]="sAddStudentForProject" [project]="project" [status]="'add'"
    [listStudentsForProject]="listStudentsForProject" [listOfGuides]="listAll"
    (popupDisplayOut)="closePAddStudentForProject($event)"></app-add-student-for-project>
<!-- עדכון חניך לפרויקט
 --><app-add-student-for-project [popupDisplayIn]="sUpdateStudentForProject" [project]="project" [status]="'update'"
    [studentForProjectUpdate]="studentForProjectUpdate" [listOfGuides]="listAll"
    (popupDisplayOut)="closePAddStudentForProject($event)"></app-add-student-for-project>
<!-- הוספת מדריך לפרויקט
 --><app-add-guide-for-project [popupDisplayIn]="sAddGuide" [codeProject]="project.Pr_code"
    (popupDisplayOut)="closeAddGuide($event)"></app-add-guide-for-project>
<!-- ערוך מדריך לפרויקט
 --><app-add-guide-for-project [popupDisplayIn]="sUpdateGuide" [codeProject]="project.Pr_code" [status]="'update'"
    [guideForProjectUpdate]="guideForProjectUpdate"
    (popupDisplayOut)="closeAddGuide($event)"></app-add-guide-for-project>
<!-- העברת משתתף לרישום חניך
 --><app-add-update-student [popupDisplayIn]="sAddStudentFromSharer" [status]="'update'" [status2]="'addFromSharer'"
    [studentUpdate]="studentNew" [Parent]="ParentNew" [Parent1]="Parent1New" [DifficultyStudent]="DifficultyStudentNew"
    [Worker]="WorkerNew" [StudiesForStudent]="StudiesForStudentNew" [studentForProject]="studentForProject"
    [sharer]="sharer" (popupDisplayOut)="closePAddStudentFromSharer($event)" [codeWorkerLogin]="0"
    [cb1]="studentNew.St_gender==1" [cb2]="studentNew.St_gender==2"></app-add-update-student>
<!-- הצגת פרטי חניך
 --> <app-display-student [popupDisplayIn]="displayPopup" [student]="studentDisplay" [Parent]="ParentDisplay"
    [Parent1]="Parent1Display" [DifficultyStudent]="DifficultyStudentDisplay" [Worker]="WorkerDisplay"
    [listStudentForProjects]="listStudentForProjects" [StudiesForStudent]="StudiesForStudentDisplay"
    [selectedImage]="imageBlobURL" (popupDisplayOut)="closePDisplay($event)"></app-display-student>
<!--     הצגת פרטי משתתף -->
<app-display-sharer [popupDisplayIn]="displayPopupSharer" [sharer]="sharerDisplay" [Parent]="ParentDisplaySharer"
    [Parent1]="Parent1DisplaySharer" [listSharerForProjects]="listSharerForProjects"
    [StudiesForSharer]="StudiesForSharerDisplay" (popupDisplayOut)="closePDisplaySharer($event)"></app-display-sharer>
<!-- ערוך משתתף -->
<app-update-sharer [popupDisplayIn]="sUpdateSharer" [status]="'update'" [sharerUpdate]="sharerUpdate"
    [Parent]="ParentSharerUpdate" [Parent1]="Parent1SharerUpdate" [StudiesForSharer]="StudiesForSharerUpdate"
    [project]="project" [sharerForProjectUpdate]="sharerForProjectUpdate" [listOfGuides]="listAll"
    (popupDisplayOut)="closePUpdateSharer($event)" [cb1]="sharerUpdate.Sh_gender==1"
    [cb2]="studentNew.St_gender==2"></app-update-sharer>