<div message>
    <div title>
        <p userName>{{nameWorker(message.MFC_sender_worker_code)}} </p>
        <p recipi>|אל: <label *ngFor="let r of message.RecipientForMessages">{{" "+nameWorker(r.RFM_worker_code)+"
                "}},</label></p>

        <p date>{{message.MFC_date}},{{message.MFC_time}}</p>
    </div>
    <div content>
        <div user>
            <div circle [style.background-color]="getRandomColor(message.Worker?.Wo_ID)">{{letter1(nameWorker(message.MFC_sender_worker_code))}}
            </div>
        </div>
        <div internalContent>
            <pre>   {{message.MFC_content}} </pre>

        </div>
    </div>
</div>
<br>