<div project nonePrint>
    <p [ngClass]="{'nameB':project.Pr_gender==1,'nameG':project.Pr_gender==2}" name>{{project.Pr_name}}</p>
    <p describe>{{project.Pr_description}}</p>

    <p contect><label bold>תכנים:</label><label>{{project.Pr_content}}</label></p>
    <p place><label bold>מקום:</label><label>{{project.Pr_Place}}</label></p>
    <p date><label bold>תאריך:</label><label>{{convertDateBack(project.Pr_date)}}</label></p>
    <button *ngIf="project.Pr_gender==1" class="buttonB" (click)="displayPopap=true">מדריכים ומשתתפים </button>
    <button *ngIf="project.Pr_gender==2" class="buttonG" (click)="displayPopap=true">מדריכות ומשתתפות </button>
    <div otefEdid>
        <button edit title="ערוך" (click)="displayAddProject = true;">ערוך</button>
        <button delete title="מחק" (click)="deleteProject()">מחק</button>
    </div>


</div>
<app-students-for-project *ngIf="displayPopap" [project]="project"
    (popupDisplayOut)="closeP($event)"></app-students-for-project>

<app-new-project [popupDisplayIn]="displayAddProject" [status]="'update'" [projectUpdate]="project"
    (popupDisplayOut)="closeP2($event)"></app-new-project>