$color-yellow: rgb(255, 255, 82);
$color-red: rgb(229, 45, 45);
$color-turqis-light: rgb(0, 254, 212);
$color-pink: rgb(255, 0, 136);
$color-blue-light: rgb(0, 200, 255);
$color-green-light: rgb(11, 239, 7);
$color-orange: rgb(255, 140, 0);

$color-turqis: rgb(31, 126, 104);
$color-turqis-dark: rgb(10, 70, 56);
$color-white-dark: rgb(242, 244, 244);
$color-pink: rgb(207, 14, 66);
$color-pink-dark: rgb(146, 3, 41);
$color-white-dark-b: rgb(255, 242, 242);

@keyframes backgroundAnimation {
    0% {
        background-color: rgb(255, 255, 255);

    }

    50% {
        background-color: rgb(255, 255, 255);

    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

:host {
    display: block;
    height: 100%;
    width: 100%;
    animation: backgroundAnimation 10s infinite alternate;
}



.label1 {
    color: red;
}

h1,
h2 {
    font-family: Assistant-Bold;
}

button:hover,
button:active,
button:focus {
    border-radius: 50px;

}

[name] {
    text-align: center;
    color: white;
    margin: auto;
    padding: 1vh;
}

.top {
    background-color: $color-turqis;
    height: 9vh;
    width: 100vw;
    display: flex;
    top: 0px;
    left: 0px;
    position: absolute;
    box-shadow: 0px 0px 10px 0px #4c4c4c;

    .tab {
        direction: rtl;
        display: flex;
        flex-wrap: wrap;
        width: 85vw;
        height: 6.5vh;
        margin: 1.25vh 1vw 1.25vh 0px;

        .homeOtef {
            margin: 0vh 0vw 0vh 0.5;
            text-align: center;
            text-decoration: none;
            display: block;
            transition: border-top 1s;

            .home {
                width: 6.5vh;
                height: 6.5vh;
                border-radius: 50px;
                border: 2px solid $color-turqis-dark;
                margin: 0px;
                background-color: rgb(242, 244, 244, 0.0);
                display: flex;
                justify-content: center;
                align-items: center;

                 .inHome {
                    background-image: url('../icons/exit-white.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 6.5vh;
                    height: 6.5vh;
                }
            }
            .home:hover {
                background-color: $color-white-dark;

                .inHome {
                background-image: url('../icons/exit-turqis.png');
                   
                }
            }
        }

        .button1 {
            background-color: $color-turqis;
            border: 0px;
            cursor: pointer;
            color: $color-white-dark;
            font-size: 1.35vw;
            text-align: center;
            text-decoration: none;
            display: block;
            transition: border-top 1s;
            font-family: Assistant-Bold;
            border-radius: 50px;
            border: 2px solid $color-turqis-dark;
            line-height: normal;
            height: 6.5vh;
            width: 10vw;
            margin: 0vh 0.5vw 0vh 0px;
            position: relative;

            label {
                height: 20px;
                width: 20px;
                background-color: $color-yellow;
                border-radius: 50px;
                position: absolute;
                top: -9px;
                left: 15px;
                font-size: small;
                color: black;
            }


        }

        .button2 {
            background-color: $color-white-dark;
            color: $color-turqis-dark;
        }

        button:hover {
            background-color: $color-white-dark;
            color: $color-turqis-dark;
        }
    }
}

.ologo {
    width: 10vw;
    display: flexbox;
    direction: ltr;

    .logo {
        height: 9vh;
        background-image: url('./logoTbig.png');
        background-size: contain;
        display: block;
        text-align: left;
        background-repeat: no-repeat;
    }
}

[windos] {
    margin: 9.5vh 0px 0px 0px;
    display: block;
    text-align: right;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media only screen and (max-width: 960px) {

    [windos] {
        margin: 9.5vh 20px 0px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .top {
        height: 17vh;

        .tab {

            width: 97vw;
            height: 14vh;
            margin: 1.25vh 0.5vw 0.25vh 0px;

            .button1 {
                font-size: 1.9vh;
                width: 18vw;
                margin: 0vh 0.6vw 1vh 0px;
            }
        }
    }

    .ologo {
        width: 15vw;
        display: none;
    }

    [name] {
        height: 17vh;
        padding-top: 7.5vh;
        background-image: url('./logoTbig.png');
        background-size: 7vh;
        background-repeat: no-repeat;
        background-position: top;
    }

    [windos] {
        margin: 17vh 20px 0px 0px;
    }
}
header {
    display: none;
}


@media print {
    [nonePrint] {
        display: none;
    }

    [windos] {
        margin: 0;
        overflow: visible;
    }

    header {
        height: 2cm;
        display: block;
        text-align: right;
        background-image: url('./logoTbig.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    footer {
        text-align: center;
    }


}
