<h1>משימות ותזכורות</h1>
<div otef nonePrint>
    <button icon newTask (click)="displayAddTask=true">משימה חדשה</button>

    <button icon print (click)="print()" title="הדפס">י</button>

</div>
<br>
<table>
    <thead>
        <tr>
            <th></th>

            <th>המשימה</th>
            <th>תאריך</th>
            <th>זמן</th>
            <th nonePrint></th>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let t of listTaskss let y=index"
            [ngClass]="{'bold':false,'green':t.Ta_done==1,'yellow':t.Ta_done==0}">
            <td><button vx [ngClass]="{'v':t.Ta_done==1,'x':t.Ta_done==0}"
                    (click)="done(t)">{{idDone(t.Ta_done)}}</button></td>

            <td class="bold">{{t.Ta_description}}</td>
            <td>{{getDayFromDate(t.Ta_date)}} {{displayDate(t.Ta_date)}}</td>
            <td>{{t.Ta_time}}</td>
            <td nonePrint><button *ngIf="t.Ta_done==0" clockLeter>הזכר לי מאוחר יותר</button></td>
        </tr>

    </tbody>
</table>
<!-- <button>הצג עוד</button>
 --><app-task *ngIf="displayAddTask" [workerCode]="codeWorker" (popupDisplayOut)="closePAdd(false)"></app-task>