<h1>משימות ותזכורות</h1>
<div otef nonePrint>
    <button icon newTask (click)="displayAddTask=true">משימה חדשה</button>

    <button icon print (click)="print()" title="הדפס">י</button>

</div>
<br>

<table>
    <thead>
        <tr>
            <th></th>

            <th>המשימה</th>
            <th displayBig>תאריך</th>
            <th displayBig>שעה</th>
            <th displaySmall>תאריך ושעה</th>
            <th nonePrint></th>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let t of listTaskss let y=index"
            [ngClass]="{'bold':false,'green':t.Ta_done==1,'yellow':t.Ta_done==0}">
            <td><button vx [ngClass]="{'v':t.Ta_done==1,'x':t.Ta_done==0}"
                    (click)="done(t)">{{idDone(t.Ta_done)}}</button></td>

            <td class="bold">{{t.Ta_description}}</td>
            <td displayBig>{{getDayFromDate(t.Ta_date)}} {{displayDate(t.Ta_date)}}</td>
            <td displayBig>{{t.Ta_time}}</td>
            <td displaySmall>
                <p>{{getDayFromDate(t.Ta_date)}} {{displayDate(t.Ta_date)}}</p>
                <p> שעה: {{t.Ta_time}}</p>
            </td>
            <td nonePrint><button *ngIf="t.Ta_done==0" clockLeter (click)="updateTask(t)">הזכר לי מאוחר יותר</button>
            </td>
        </tr>

    </tbody>
</table>
<!-- <button>הצג עוד</button>
 --><app-task *ngIf="displayAddTask" [workerCode]="codeWorker" (popupDisplayOut)="closePAdd(false)"></app-task>
<app-task *ngIf="displayUpdateTask" [workerCode]="codeWorker" [status]="'update'" [taskUpdate]="taskUpdate"
    (popupDisplayOut)="closePAdd(false)"></app-task>