<div background *ngIf="popupDisplayIn">

    <div popup>
        <button close (click)="close();">x</button>
        <br>
        <br>

        <label *ngIf="status === 'add'">הכנס שם מדריך:</label>
        <label *ngIf="status === 'update'"> שם מדריך:</label>

        <input type="text" *ngIf="status === 'add'" [ngClass]="{'borderInputRed':validNane}"
            (input)="onInputChangeN($event)">
        <input type="text" *ngIf="status === 'update'" value="{{guideForProjectUpdate.GFP_name}}"
            [ngClass]="{'borderInputRed':validNane}" (input)="onInputChangeN($event)">
        <label eror *ngIf="validNane">מוגבל ל-30 תוים</label>
     
        <label>ת.ז:</label>
        <input type="text" *ngIf="status === 'add'" [ngClass]="{'borderInputRed':validID}"
            (input)="onInputChangeID($event)">
        <input type="text" *ngIf="status === 'update'" value="{{guideForProjectUpdate.GFP_ID}}"
            [ngClass]="{'borderInputRed':validID}" (input)="onInputChangeN($event)">
        <label eror *ngIf="validID">הכנס ת.ז תקינה</label>
        <br>

        <button save *ngIf="status === 'add'" (click)="add()">שמור</button>
        <button save *ngIf="status === 'update'" (click)="update()">עדכן</button>


        <app-loading-spinner *ngIf="loading"></app-loading-spinner>
    </div>

</div>