<div>
  <p timer>{{ distanceKm |number: '1.2-2' }} <label>ק"מ</label></p>
  <button bStart (click)="setOriginLocation();startTimer()">התחל</button>
  <button bStop (click)="stopTimer()" [disabled]="!ifDisplayStopAndSaveTime">עצור</button>
  <button bSave (click)="setDestinationLocation()" [disabled]="!originCoords || !ifDisplayStopAndSaveTime">שמור</button>
</div>

<!--   <div>
    <p timer>{{ distance |number: '1.2-2' }} <label>ק"מ</label></p>
    <button bStart (click)="startTracking();startTimer()">התחל</button>
    <button bStop (click)="stopTimer()"  [disabled]="!ifDisplayStopAndSaveTime">עצור</button>
    <button bSave (click)="stopTracking()" [disabled]="!currentLocation || !ifDisplayStopAndSaveTime">שמור</button>
  </div>
   -->