$color-yellow: rgb(255, 255, 82);
$color-yellow-dark: rgb(255, 247, 0);

$color-red: rgb(255, 35, 35);
$color-turqis: rgb(1, 180, 150);
$color-turqis-light: rgb(0, 254, 212);
$color-pink: rgb(255, 0, 136);
$color-blue-light: rgb(0, 200, 255);
$color-green-light: rgb(11, 239, 7);
$color-orange: rgb(255, 140, 0);
$color-turqis-dark: rgb(10, 70, 56);

[newCall] {
    //   width: 80%;
    border: 1px solid black;
    margin: auto;
    border-radius: 5px;
    height: 98%;

    height: 50vh;
    width: 50vw;
    margin: auto;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    text-align: right;
    position: absolute;
    top: -10px;
    z-index: 4;
    top: 40vh;
    right: 30vw;
    bottom: 0;
    left: 5vw;   
    [recip] {
        border-bottom: 0.5px rgb(182, 182, 182) solid;

        //height: 70px;
        p {
            display: inline-block;
            padding: 0px 7px 0px 0px;
        }

        [select] {
            position: relative;
            width: 200px;
            display: inline-block;

            input {
                height: 30px;
                width: 198px;
                outline: none;
                font-size: medium;
                border: 0px;
                padding: 0px 7px 0px 0px;
            }

            [ListToSend] {
                position: absolute;
                top: 30px;
                right: 0px;
                //  transform: translate(-50%, -50%);
                background-color: rgb(244, 244, 244);
                color: rgb(0, 0, 0);
                width: 200px;
                max-height: 300px;
               // overflow: scroll;
                overflow-y: scroll;
                scroll-behavior: auto;
                border: 1px solid rgb(29, 29, 29);
                border-radius: 5px;

                label {
                    border-bottom: 1px solid rgb(29, 29, 29);
                    display: block;
                    padding: 10px;
                    cursor: pointer;

                }
            }
        }

        [recipient] {
            height: 25px;
            width: 120px;
            border: 0.5px solid;
            border-radius: 50px;
            display: inline-block;
            margin: 5px;
            font-family: Assistant-Bold;

            [name] {
                font-size: small;
                text-align: center;
                width: 90px;

            }

            [x] {
                padding-left: 4px;
                font-size: larger;
                font-family: Assistant-Light;
                text-align: left;
                cursor: pointer;

            }
        }

        button {
            display: inline-block;
            border-radius: 50px;
            height: 25px;
            width: 120px;
            font-size: medium;
            border: 0px;
            font-family: Assistant-Light;
            margin: 5px;
            cursor: pointer;

        }

        [b0] {
            background-color: rgb(0, 254, 169, 0.2);

        }

        .b0 {
            background-color: rgb(0, 254, 169);
            font-family: Assistant-Bold;

        }

        [b1] {
            background-color: rgb(0, 200, 255, 0.2);
        }

        .b1 {
            background-color: rgb(0, 200, 255);
            font-family: Assistant-Bold;

        }

        [b2] {
            background-color: rgb(79, 79, 212, 0.2);
        }

        .b2 {
            background-color: rgb(79, 79, 212);
            font-family: Assistant-Bold;

        }

        [b3] {
            background-color: rgb(2, 129, 2, 0.2);
        }

        .b3 {
            background-color: rgb(2, 129, 2);
            font-family: Assistant-Bold;

        }

        [b4] {
            background-color: rgb(255, 0, 136, 0.2);
        }

        .b4 {
            background-color: rgb(255, 0, 136);
            font-family: Assistant-Bold;

        }

        [b5] {
            background-color: rgb(246, 11, 11, 0.2);
        }

        .b5 {
            background-color: rgb(246, 11, 11);
            font-family: Assistant-Bold;

        }

        [b6] {
            background-color: rgb(255, 82, 20, 0.2);

        }

        .b6 {
            background-color: rgb(255, 82, 20);
            font-family: Assistant-Bold;

        }

        /*         } */

    }

    [topic] {
        border-bottom: 0.5px rgb(182, 182, 182) solid;
        height: 30px;

        input {
            border: 0px;
            outline: none;
            height: 90%;
            width: 97%;
            margin: 0px 7px 0px 0px;
            font-size: medium;
        }
    }

    [contect] {
        textarea {
            border: 0px;
            width:97%;
           height: auto;
            outline: none;
            font-size: medium;
            font-family: Assistant-Regular;
            margin: 0px 7px 0px 0px;
            resize: none; 


        }
    }

    [bottom] {
        button {
            font-family: Assistant-Regular;
            background-color: $color-turqis;
            border: none;
            cursor: pointer;
            color: white;
            font-size: large;
            font-weight: bold;
            padding-bottom: 4px;
            text-align: center;
            width: 130px;
            height: 41px;
            text-decoration: none;
            border-radius: 50px;
            margin: 5px;

        }

        button:hover {
            font-weight: bolder;
        }

        button:active {
            position: relative;
            top: 2px;
        }

        [send] {
            background-repeat: no-repeat;
            background-position: left;
            background-size: 22px;
            background-image: url('../icons/send.png');
            background-position: 17%;
        }
    }
}
/* עיצוב כללי של ה- scrollbar */
::-webkit-scrollbar {
    width: 10px; /* רוחב ה- scrollbar */
  }
  
  /* עיצוב חלק ספציפי של ה- scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color:rgb(210, 210, 210); /* צבע המשולש של ה- scrollbar */
    border-radius: 0px; /* רדיוס הפינות של ה- scrollbar */
  }
  
  /* עיצוב על פי הגלילה של ה- scrollbar */
  ::-webkit-scrollbar-track {
    background-color:rgb(255, 255, 255); /* צבע רקע של ה- scrollbar */
  }