<div class="background" *ngIf="popupDisplayIn">
    <div class="popup">
        <button close (click)="close();">x</button>
        <div class="all">
            <h1 titleB> עדכון פעילות</h1>
            <div boxxx>
                <!--
                <button (click)="displayGroupActivities=!displayGroupActivities;group()"
                    [ngClass]="{displayGroupActivities:displayGroupActivities}">פעילות קבוצתית</button>
                <br>
                <div details [ngClass]="{detailsDisplay:displayGroupActivities}">
                    <div titleOfDetails *ngIf="worker.Wo_gender==1">משתתף חד פעמי</div>
                    <div titleOfDetails *ngIf="worker.Wo_gender==2">משתתפת חד פעמי</div>

                    <input nameStudent type="text" (input)="onInputChangeN($event)" [value]="addStudent.St_name"
                        placeholder="שם פרטי">
                    <label *ngIf="validNane" eror></label>
                    <input nameStudent type="text" (input)="onInputChangeNF($event)" [value]="addStudent.St_Fname"
                        placeholder="שם משפחה">
                    <label *ngIf="validNameF" eror></label>

                    <button buttomAddStudent *ngIf="worker.Wo_gender==1" (click)="addStudentF()">הוסף</button>
                    <button buttomAddStudent *ngIf="worker.Wo_gender==2" (click)="addStudentF()">הוסיפי</button>


                </div>
                <br>

                <div class="bigbox">
                    <app-student *ngFor="let i of listOfStudents" [student]="i"
                        [listSelectedStudents]="listSelectedStudents" [select]="ifSelected(i.St_code)"
                        (addSelectedCodeStudent)="selectStudentBoxAdd($event)"
                        (deleteSelectedCodeStudent)="selectStudentBoxDelete($event)"></app-student>
                </div>


                 <div filters *ngIf="worker.Wo_gender==1">
                    <button allList [ngClass]="{buttonFilter:true,displayallList:displayallList}"
                        (click)="displayallList=true;displaystudentActive=false;displaystudentSuspended=false;displaystudentFinish=false;statusF=0;generalStudents(2)">כל
                        החניכים</button>
                    <button studentActive [ngClass]="{buttonFilter:true,displaystudentActive:displaystudentActive}"
                        (click)="displayallList=false;displaystudentActive=true;displaystudentSuspended=false;displaystudentFinish=false;statusF=1;generalStudents(2)">חניכים
                        פעילים</button>
                    <button studentSuspended
                        [ngClass]="{buttonFilter:true,displaystudentSuspended:displaystudentSuspended}"
                        (click)="displayallList=false;displaystudentActive=false;displaystudentSuspended=true;displaystudentFinish=false;statusF=2;generalStudents(2)">חניכים
                        מושהים</button>
                    <button studentFinish [ngClass]="{buttonFilter:true,displaystudentFinish:displaystudentFinish}"
                        (click)="displayallList=false;displaystudentActive=false;displaystudentSuspended=false;displaystudentFinish=true;statusF=3;generalStudents(2)">חניכים
                        שסיימו</button>
                    <select (change)="onStudentSelected($event)">
                        <option selected hidden [value]="0">בחר מרשימה</option>
                        <option *ngFor="let s of listOfStudents" [value]="s.St_code" [selected]="ifSelected(s.St_code)">
                            {{s.St_name+ " "+s.St_Fname}}</option>
                    </select>
                </div>
                <div filters *ngIf="worker.Wo_gender==2">
                    <button allList [ngClass]="{buttonFilter:true,displayallList:displayallList}"
                        (click)="displayallList=true;displaystudentActive=false;displaystudentSuspended=false;displaystudentFinish=false;statusF=0;generalStudents(2)">כל
                        החניכות</button>
                    <button studentActive [ngClass]="{buttonFilter:true,displaystudentActive:displaystudentActive}"
                        (click)="displayallList=false;displaystudentActive=true;displaystudentSuspended=false;displaystudentFinish=false;statusF=1;generalStudents(2)">חניכות
                        פעילות</button>
                    <button studentSuspended
                        [ngClass]="{buttonFilter:true,displaystudentSuspended:displaystudentSuspended}"
                        (click)="displayallList=false;displaystudentActive=false;displaystudentSuspended=true;displaystudentFinish=false;statusF=2;generalStudents(2)">חניכות
                        מושהות</button>
                    <button studentFinish [ngClass]="{buttonFilter:true,displaystudentFinish:displaystudentFinish}"
                        (click)="displayallList=false;displaystudentActive=false;displaystudentSuspended=false;displaystudentFinish=true;statusF=3;generalStudents(2)">חניכות
                        שסיימו</button>
                    <select (change)="onStudentSelected($event)">
                        <option selected hidden [value]="0">בחרי מרשימה</option>
                        <option *ngFor="let s of listOfStudents" [value]="s.St_code" [selected]="ifSelected(s.St_code)">
                            {{s.St_name+ " "+s.St_Fname}}</option>
                    </select> 
                </div>-->
                <br>
                <label labelStudentSelected *ngIf=" worker.Wo_gender==1">חניך</label>
                <label labelStudentSelected *ngIf=" worker.Wo_gender==2">חניכה</label>

                <div [ngClass]="{boxChoose:true}">
                    <app-student [student]="updateActivity.StudentForActivities[0].Student"
                        [listSelectedStudents]="updateActivity.StudentForActivities" [select]="true"></app-student>
                </div>

            </div>
            <br>
            <h2 date>מועד הפעילות</h2>
            <br>
            <div boxxx>

                <div filters>
                    <button (click)="today()"
                        [ngClass]="{buttonFilter:true,displayDayChoose:displayToday }">היום</button>
                    <button (click)="yesterday()"
                        [ngClass]="{buttonFilter:true,displayDayChoose:displayYesterday }">אתמול</button>
                    <button (click)="beforeYesterday()"
                        [ngClass]="{buttonFilter:true,displayDayChoose:displayBeforeYesterday}">שלשום</button>
                    <input type="date" [valueAsDate]="selectedDate" (input)="onInputChangeDate($event)">
                </div>

            </div>
            <br>
            <h2 time>משך הפעילות</h2>
            <br>
            <div boxxx>
                <input type="time" [value]="formatTime()" (input)="onInputChangeTime($event)">
                <br>
                <label>בשעות</label>
                <br>

                <button [ngClass]="{minutesHours:true,displayMinutesHours: selectedDate.getHours()==1}"
                    (click)="hoursSelected(1)">1</button>
                <button [ngClass]="{minutesHours:true,displayMinutesHours: selectedDate.getHours()==2}"
                    (click)="hoursSelected(2)">2</button>
                <button [ngClass]="{minutesHours:true,displayMinutesHours: selectedDate.getHours()==3}"
                    (click)="hoursSelected(3)">3</button>
                <button [ngClass]="{minutesHours:true,displayMinutesHours:selectedDate.getHours()==4}"
                    (click)="hoursSelected(4)">4</button>
                <br>
                <label>בדקות</label>
                <br>
                <button [ngClass]="{minutesHours:true,displayMinutesHours:this.selectedDate.getMinutes()==5}"
                    (click)="minutesSelected(5)">5</button>
                <button [ngClass]="{minutesHours:true,displayMinutesHours:this.selectedDate.getMinutes()==10}"
                    (click)="minutesSelected(10)">10</button>
                <button [ngClass]="{minutesHours:true,displayMinutesHours:this.selectedDate.getMinutes()==20}"
                    (click)="minutesSelected(20)">20</button>
                <button [ngClass]="{minutesHours:true,displayMinutesHours:this.selectedDate.getMinutes()==30}"
                    (click)="minutesSelected(30)">30</button>
                <button [ngClass]="{minutesHours:true,displayMinutesHours:this.selectedDate.getMinutes()==40}"
                    (click)="minutesSelected(40)">40</button>
                <button [ngClass]="{minutesHours:true,displayMinutesHours:this.selectedDate.getMinutes()==50}"
                    (click)="minutesSelected(50)">50</button>
                <br>

            </div>
            <br>
            <h2 nesu>נשוא הפעילות</h2>
            <br>
            <div boxxx>
                <button *ngIf="worker.Wo_gender==1"
                    [ngClass]="{buttonFilter:true,displayNesuChoose: updateActivity.AFS_with_who=='עם הבחור'}"
                    (click)="updateActivity.AFS_with_who='עם הבחור';">עם
                    הבחור</button>
                <button *ngIf="worker.Wo_gender==2"
                    [ngClass]="{buttonFilter:true,displayNesuChoose: updateActivity.AFS_with_who=='עם הבחורה'}"
                    (click)="updateActivity.AFS_with_who='עם הבחורה';">עם
                    הבחורה</button>
                <button [ngClass]="{buttonFilter:true,displayNesuChoose: updateActivity.AFS_with_who=='עם הורה'}"
                    (click)="updateActivity.AFS_with_who='עם הורה';">עם
                    הורה</button>
                <button [ngClass]="{buttonFilter:true,displayNesuChoose: updateActivity.AFS_with_who=='עם צוות'}"
                    (click)="updateActivity.AFS_with_who='עם צוות';">עם
                    צוות</button>
                <button
                    [ngClass]="{buttonFilter:true,displayNesuChoose: updateActivity.AFS_with_who!='עם הבחור'&&  updateActivity.AFS_with_who!='עם הבחורה' &&updateActivity.AFS_with_who!='עם צוות'&& updateActivity.AFS_with_who!='עם הורה'}"
                    (click)="updateActivity.AFS_with_who='';">אחר</button>
                <input type="text" placeholder="אחר"
                    *ngIf="updateActivity.AFS_with_who!='עם הבחור'&&  updateActivity.AFS_with_who!='עם הבחורה' &&updateActivity.AFS_with_who!='עם צוות'&& updateActivity.AFS_with_who!='עם הורה'"
                    [value]="updateActivity.AFS_with_who" (input)="onInputChangeNesu($event)">

                <label *ngIf="validAFS_with_who" eror>מוגבל ל- 40 תוים</label>


            </div>
            <br>
            <h2 topic>מהות הפעילות</h2>
            <br>
            <div boxxx>
                <!--                <button (click)="displayMeetingDetails=!displayMeetingDetails;selectCategory(3,displayMeetingDetails)"
                    [ngClass]="{buttonTopic:true,meeting:true,meetingB:displayMeetingDetails || ifExist(3)}">פגישה
                    אישית</button>
                <button (click)="displayFhoneDetails=!displayFhoneDetails;selectCategory(2,displayFhoneDetails)"
                    [ngClass]="{buttonTopic:true,phone:true,phoneB:displayFhoneDetails}">שיחה
                    טלפונית</button>
                <button (click)="displayTravelDetails=!displayTravelDetails;selectCategory(4,displayTravelDetails)"
                    [ngClass]="{buttonTopic:true,car:true,carB:displayTravelDetails}">נסיעה
                </button>
                <button (click)="displayForeignActivityDetails=!displayForeignActivityDetails;selectCategory(6,displayForeignActivityDetails)"
                    [ngClass]="{buttonTopic:true,tree:true,treeB:displayForeignActivityDetails}">פעילות
                    חוץ</button>
                <button *ngIf="worker.Wo_gender==1"
                    (click)="displaySchoolPlacementDetails=!displaySchoolPlacementDetails;selectCategory(7,displaySchoolPlacementDetails)"
                    [ngClass]="{buttonTopic:true,school:true,schoolB:displaySchoolPlacementDetails}">שיבוץ
                    בישיבה</button>
                <button *ngIf="worker.Wo_gender==2"
                    (click)="displaySchoolPlacementDetails=!displaySchoolPlacementDetails;selectCategory(7,displaySchoolPlacementDetails)"
                    [ngClass]="{buttonTopic:true,school:true,schoolB:displaySchoolPlacementDetails}">שיבוץ
                    בסמינר</button>
                <button (click)="displayProductPurchaseDetails=!displayProductPurchaseDetails;selectCategory(5,displayProductPurchaseDetails)"
                    [ngClass]="{buttonTopic:true,gift:true,giftB:displayProductPurchaseDetails}">רכישת
                    מוצר</button>
                <button *ngIf="worker.Wo_type_worker==2"
                    (click)="displayLearningDetails=!displayLearningDetails;selectCategory(1,displayLearningDetails)"
                    [ngClass]="{buttonTopic:true,book:true,bookB:displayLearningDetails}">לימוד
                    חברותא</button> -->

                <button (click)="selectCategory(3)"
                    [ngClass]="{buttonTopic:true,meeting:true,meetingB:ifExist(3)}">פגישה
                    אישית</button>
                <button (click)="selectCategory(2)" [ngClass]="{buttonTopic:true,phone:true,phoneB:ifExist(2)}">שיחה
                    טלפונית</button>
                <button (click)="selectCategory(4)" [ngClass]="{buttonTopic:true,car:true,carB:ifExist(4)}">נסיעה
                </button>
                <button (click)="selectCategory(6)" [ngClass]="{buttonTopic:true,tree:true,treeB:ifExist(6)}">פעילות
                    חוץ</button>
                <button *ngIf="worker.Wo_gender==1" (click)="selectCategory(7)"
                    [ngClass]="{buttonTopic:true,school:true,schoolB:ifExist(7)}">שיבוץ
                    בישיבה</button>
                <button *ngIf="worker.Wo_gender==2" (click)="selectCategory(7)"
                    [ngClass]="{buttonTopic:true,school:true,schoolB:ifExist(7)}">שיבוץ
                    בסמינר</button>
                <button (click)="selectCategory(5)" [ngClass]="{buttonTopic:true,gift:true,giftB:ifExist(5)}">רכישת
                    מוצר</button>
                <button *ngIf="worker.Wo_type_worker==2" (click)="selectCategory(1)"
                    [ngClass]="{buttonTopic:true,book:true,bookB:ifExist(1)}">לימוד
                    חברותא</button>


                <div details [ngClass]="{detailsDisplay:ifExist(4)}">
                    <div titleOfDetails>פרטי נסיעה</div>
                    <div contectAll>
                        <div>
                            <label>מוצא:</label>
                            <input type="text" (input)="onInputChangeExit($event)" [value]="updateActivity.AFS_exit">
                            <label *ngIf="validAFS_exit" eror>מוגבל ל-100 תוים</label>
                        </div>
                        <!--                 <br>
                    <button>הוסף נקודת עצירה</button>
                    <br> -->
                        <div>
                            <label>יעד:</label>
                            <input type="text" (input)="onInputChangeTarget($event)"
                                [value]="updateActivity.AFS_target">

                            <label *ngIf="validAFS_target" eror>מוגבל ל-100 תוים</label>
                        </div>
                        <div>
                            <label>מס ק"מ:</label>
                            <input type="number" (input)="onInputChangeKM($event)"
                                [value]="updateActivity.AFS_kilometer">

                        </div>

                    </div>
                </div>

                <div details [ngClass]="{detailsDisplay:ifExist(6) &&!ifExist(5)}">
                    <div titleOfDetails>פרטי פעילות חוץ</div>
                    <div contectAll>
                        <div>
                            <label>פירוט:</label>
                            <select (change)="selectSubCategoryOut($event)">
                                <option *ngIf=" worker.Wo_gender==1" selected hidden [value]="0">בחר </option>
                                <option *ngIf=" worker.Wo_gender==2" selected hidden [value]="0">בחרי </option>
                                <option *ngFor="let s of listSubCategoryOut"
                                    [selected]="s.SFTA_code==codeSubCategoryOut || out==s.SFTA_name"
                                    [value]="s.SFTA_name">{{s.SFTA_name}}
                                </option>
                            </select>
                            <label *ngIf="displaySubCategoryOut">
                                <input type="text" placeholder="אחר" (input)="onInputChangeSearchOut($event)"
                                    [value]="out">
                                <button buttomAddStudent (click)="addSubCategory(6,out)">הוסף</button>
                            </label>
                        </div>
                        <div>
                            <label>מחיר</label>
                            <input type="number" money (input)="onInputChangePrice($event)"
                                [value]="updateActivity.AFS_price"> <label shach> ₪ </label>
                        </div>
                    </div>
                </div>
                <div details [ngClass]="{detailsDisplay:ifExist(5)&& !ifExist(6)}">
                    <div titleOfDetails>פרטי רכישת מוצר</div>
                    <div contectAll>
                        <div>
                            <label>פירוט:</label>
                            <select (change)="selectSubCategoryGift($event)">
                                <option *ngIf=" worker.Wo_gender==1" selected hidden [value]="0">בחר </option>
                                <option *ngIf=" worker.Wo_gender==2" selected hidden [value]="0">בחרי </option>
                                <option *ngFor="let s of listSubCategoryGift"
                                    [selected]="s.SFTA_code==codeSubCategoryGift || gift==s.SFTA_name"
                                    [value]="s.SFTA_name">{{s.SFTA_name}}
                                </option>
                            </select>

                            <label *ngIf="displaySubCategoryGift">
                                <input type="text" placeholder="אחר" (input)="onInputChangeSearchGift($event)"
                                    [value]="gift">
                                <button buttomAddStudent (click)="addSubCategory(5,gift)">הוסף</button>
                                <input type="text" placeholder="אחר" (input)="onInputChangeSearchGift($event)"
                                    [value]="gift">
                                <button buttomAddStudent (click)="addSubCategory(5,gift)">הוסף</button>
                            </label>
                        </div>
                        <div>
                            <label>{{" מחיר:"}}</label>
                            <input type="number" money (input)="onInputChangePrice($event)"
                                [value]="updateActivity.AFS_price">                            <label shach> ₪ </label>
                        </div>
                    </div>
                </div>
                <div details [ngClass]="{detailsDisplay:ifExist(6)&&ifExist(5)}">
                    <div titleOfDetails>פרטי פעילות חוץ ורכישת מוצר</div>
                    <div contectAll>
                        <div>
                            <label>פירוט פעילות חוץ:</label>
                            <select (change)="selectSubCategoryOut($event)">
                                <option *ngIf=" worker.Wo_gender==1" selected hidden [value]="0">בחר </option>
                                <option *ngIf=" worker.Wo_gender==2" selected hidden [value]="0">בחרי </option>
                                <option *ngFor="let s of listSubCategoryOut"
                                    [selected]="s.SFTA_code==codeSubCategoryOut || out==s.SFTA_name"
                                    [value]="s.SFTA_name">{{s.SFTA_name}}
                                </option>
                            </select>
                            <label *ngIf="displaySubCategoryOut">
                                <input type="text" placeholder="אחר" (input)="onInputChangeSearchOut($event)"
                                    [value]="out">
                                <button buttomAddStudent (click)="addSubCategory(6,out)">הוסף</button>
                            </label>
                        </div>
                        <div>
                            <label>פירוט מוצר:</label>
                            <select (change)="selectSubCategoryGift($event)">
                                <option *ngIf=" worker.Wo_gender==1" selected hidden [value]="0">בחר </option>
                                <option *ngIf=" worker.Wo_gender==2" selected hidden [value]="0">בחרי </option>
                                <option *ngFor="let s of listSubCategoryGift"
                                    [selected]="s.SFTA_code==codeSubCategoryGift || gift==s.SFTA_name"
                                    [value]="s.SFTA_name">{{s.SFTA_name}}
                                </option>
                            </select>
                            <label *ngIf="displaySubCategoryGift">
                                <input type="text" placeholder="אחר" (input)="onInputChangeSearchGift($event)"
                                    [value]="gift">
                                <button buttomAddStudent (click)="addSubCategory(5,gift)">הוסף</button>
                            </label>
                        </div>
                        <div>
                            <label>{{" מחיר:"}}</label>
                            <input type="number" money (input)="onInputChangePrice($event)"
                                [value]="updateActivity.AFS_price">                            <label shach> ₪ </label>
                        </div>
                    </div>
                </div>
                <div details [ngClass]="{detailsDisplay:ifExist(7)}">
                    <div titleOfDetails *ngIf="worker.Wo_gender==1">פרטי שיבוץ בישיבה</div>
                    <div titleOfDetails *ngIf="worker.Wo_gender==2">פרטי שיבוץ בסמינר</div>

                    <div contectAll>
                        <div>
                            <label>פירוט:</label>

                            <select *ngIf="worker.Wo_gender==1" (change)="onSchoolNew($event)">
                                <option selected hidden [value]="0">בחר </option>
                                <option [selected]="school=='סידור בישיבה חדשה'" [value]="1">סידור בישיבה חדשה </option>
                                <option [selected]="school=='החזרה לישיבה קודמת'" [value]="2">החזרה לישיבה קודמת
                                </option>
                            </select>
                            <select *ngIf="worker.Wo_gender==2" (change)="onSchoolNew2($event)">
                                <option selected hidden [value]="0">בחרי </option>
                                <option [selected]="school=='סידור בתיכון / סמינר חדש'" [value]="1">סידור בתיכון / סמינר
                                    חדש </option>
                                <option [selected]="school=='החזרה לתיכון / סמינר קודם'" [value]="2">החזרה לתיכון /
                                    סמינר קודם </option>
                            </select>
                        </div>
                        <div>
                            <label *ngIf="worker.Wo_gender==1">שם ישיבה</label>
                            <label *ngIf="worker.Wo_gender==2">שם תיכון / סמינר</label>

                            <input type="text" (input)="onInputChangeNSchool($event)"
                                [value]="updateActivity.AFS_name_school">

                            <label *ngIf="validAFS_target" eror>מוגבל ל-100 תוים</label>
                        </div>

                    </div>
                </div>




            </div>
            <br>
            <h2 describe>תיאור פעילות בקצרה</h2>
            <br>
            <div boxxx>
                <label *ngIf="!ifExist(1) && updateActivity.AFS_description.length<10">מינימום 10 תוים</label>
                <textarea (input)="onInputChangeDescription($event)"
                    [value]="updateActivity.AFS_description"></textarea>
                <label *ngIf="validAFS_description" eror>מוגבל ל-350 תוים</label>
            </div>
            <br>
            <!--  <h2 uploadFiles>העלאת קבצים</h2>
    <br>
    <div class="file-upload-container">
        <label for="file-upload" class="custom-file-upload">
            <input id="file-upload" type="file" (change)="onFileSelected($event)" multiple>
            בחירת קבצים
        </label>
        <div *ngIf="selectedFiles" class="file-list">
            <div *ngFor="let file of f(selectedFiles)" file [ngClass]="getFileIcon(file)">

                <p> {{ file.name }} </p>
            </div>
        </div>
    </div> -->
            <br>

            <br>
            <button buttonTurqis buttonAddActivity [disabled]="!ifNotEmpty() || !validation()"
                (click)="updateActivityy()">עדכן
                פעילות</button>

            <br>
            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
            <button buttonOrange [disabled]="true"
                *ngIf="updateActivity.StudentForActivities.length>0  && worker.Wo_gender==1">שיתוף
                פעיל
                נוסף</button>
            <button buttonOrange [disabled]="true"
                *ngIf="updateActivity.StudentForActivities.length>0  && worker.Wo_gender==2">שיתוף
                פעילה
                נוספת</button>

            <br>
        </div>
    </div>
</div>