:host {
  display: block;
}

svg{
      height:9.5vh;
           width:auto;

}


/* @media only screen and (max-width: 960px) {
   svg{
     width:140px;
      height:65px
}

}

@media only screen and (max-width: 767px) {
   svg{
     width:140px;
      height:65px
} 

}*/