<div #pdfContent class="pdf-section">
    <h1 DT titleA pppT>חניכים</h1>
    <div ppp>

        <p> מגדר: </p>
        <p class="bold">{{nameFilterGender()}}</p>
        <p> מצב פעילות : </p>
        <p class="bold">{{nameFilterActivityStatus()}}</p>
        <p> משויכים לפעיל/ה: </p>
        <p class="bold">{{nameFilterWorker()}}</p>
        <p> מיון לפי:</p>
        <p class="bold"> {{nameOrder()}}</p>

    </div>
    <br>

    <div allP nonePrint class="no-pdf">
        <div p1>
            <div class="find">
                <input type="search" role="combobox" placeholder="חפש" (input)="onInputChange($event)">
            </div>
        </div>
        <div p2>

            <div iconnOtef (click)="print()" title="הדפס">
                <button iconn print></button>
            </div>
            <div iconnOtef (click)="downloadAsPDF()" title="הורד">
                <button iconn download></button>
            </div>
            <div iconnOtef (click)="sAddStudent=true" title="הוסף חניך">
                <button iconn plus></button>
            </div>
            <div iconnOtef (click)="sUploadExcel=true" title="העלה קובץ אקסל חניכים">
                <button iconn upload></button>
            </div>
        </div>
    </div>

    <div allP2 nonePrint class="no-pdf">

        <div orders *ngIf="codeWorkerSelected==0">
            <div lible>מיין לפי</div>
            <div pos>
                <select [ngClass]="{'slectSelected':true}" (change)="onOrderSelected($event)">
                    <option selected>מגדר </option>
                    <option>א,ב </option>
                </select>

            </div>
        </div>
        <div filters [ngClass]="{'filters2':codeWorkerSelected!=0}">
            <div lible>סנן לפי</div>
            <div f2>
                <div pos1>
                    <select [ngClass]="{'slectSelected':genderF!=0}" (change)="onGenderSelected($event)"
                        *ngIf="codeWorkerSelected==0">
                        <option selected>הכל </option>
                        <option>בנים </option>
                        <option>בנות </option>
                    </select>

                </div>
                <div pos2>
                    <select [ngClass]="{'slectSelected':statusF!=0}" (change)="onActivityStatusSelected($event)">
                        <option selected>הכל </option>
                        <option>פעיל </option>
                        <option>מושהה </option>
                        <option>הסתיים </option>
                    </select>

                </div>
            </div>
        </div>
        <div workers *ngIf="codeWorkerSelected==0">
            <div lible>לפי פעיל/חונך</div>

            <div pos3>
                <select [ngClass]="{'slectSelected':workerF!=-1}" (change)="onWorkerSelected($event)">
                    <option selected [value]="-1">הכל </option>
                    <option *ngFor="let w of listOfWorkers" [value]="w.Wo_code">{{ w.Wo_name+" "+w.Wo_Fname }}</option>
                </select>

            </div>
        </div>



    </div>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>שם</th>
                <th>ת.ז</th>
                <th *ngIf="workerF == -1">פעיל ישיר</th>
                <th>איש קשר</th>
                <th>פל' איש קשר</th>
                <th>פל' חניך</th>
                <th *ngIf="statusF == 0">מצב פעילות</th>
                <th nonePrint tdB> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of listOfStudents">
                <td (click)="display(i);">
                    <div class="iconBig" [ngClass]="{'iconColorBoy':i.St_gender==1,'iconColorGirl':i.St_gender==2,}">
                        <div class="icon"></div>
                    </div>
                </td>
                <td class="bold" (click)="display(i);">{{i.St_Fname+" "+i.St_name}}</td>
                <td (click)="display(i);">{{i.St_ID}}</td>
                <td (click)="display(i);" *ngIf="workerF == -1">{{worker(i.St_worker_code)}}</td>
                <td (click)="display(i);">{{i.St_contact}}</td>
                <td (click)="display(i);">{{i.St_contact_phone}}</td>
                <td (click)="display(i);">{{i.St_cell_phone}}</td>
                <td (click)="display(i);" *ngIf="statusF == 0">{{nameStatus(i.St_activity_status)}}</td>
                <td nonePrint tdB>
                    <button edit title="ערוך" (click)="edit(i);">ערוך</button>
                    <button *ngIf="codeWorkerSelected!=0" edit project title="שייך לפרויקט" (click)="addProjectForStudent(i)">שייך לפרויקט</button>

                    <button iconn2 delete title="מחק" class="button"
                        (click)="delete(i.St_code,i.St_name+' '+i.St_Fname)"></button>
            </tr>

        </tbody>
    </table>


    <div amountWorker>סה"כ: {{amount}}</div>
    <br>
</div>
<br>
<br>

<br>
<app-add-update-student [popupDisplayIn]="sAddStudent" [status]="'add'" (popupDisplayOut)="closePAdd($event)"
    [codeWorkerLogin]="codeWorkerSelected"></app-add-update-student>

<app-add-update-student [popupDisplayIn]="sUpdateStudent" [status]="'update'" [selectedImage]="imageBlobURL"
    [studentUpdate]="studentUpdate" [Parent]="ParentUpdate" [Parent1]="Parent1Update"
    [DifficultyStudent]="DifficultyStudentUpdate" [Worker]="WorkerUpdate" [StudiesForStudent]="StudiesForStudentUpdate"
    (popupDisplayOut)="closePAdd($event)" [codeWorkerLogin]="codeWorkerSelected" [cb1]="studentUpdate.St_gender==1"
    [cb2]="studentUpdate.St_gender==2"></app-add-update-student>



<app-display-student [popupDisplayIn]="displayPopup" [student]="studentDisplay" [Parent]="ParentDisplay"
    [Parent1]="Parent1Display" [DifficultyStudent]="DifficultyStudentDisplay" [Worker]="WorkerDisplay"
    [StudiesForStudent]="StudiesForStudentDisplay" [selectedImage]="imageBlobURL"
    (popupDisplayOut)="closePDisplay($event)"></app-display-student>

<app-upload-file-excel [popupDisplayIn]="sUploadExcel" [status]="'חניכים'"
    (popupDisplayOut)="closePUploadExcel($event)"></app-upload-file-excel>

<app-add-student-for-project [popupDisplayIn]="sAddStudentForProject" [status]="'add'" [status2]="'worker'"
[selectedStudent]="selectedStudent"    
    (popupDisplayOut)="closePAddStudentForProject($event)"></app-add-student-for-project>