<div class="all">
    <br>
    <button buttonSelect reportPrivate (click)="displayGroupActivities=false;"
        [ngClass]="{reportPrivate:!displayGroupActivities}">דיווח פרטני</button>

    <button buttonSelect reportPublic (click)="displayGroupActivities=true;"
        [ngClass]="{reportPublic:displayGroupActivities}">דיווח קבוצתי</button>
    <div boxxx>
        <br>
        <div class="bigbox">
            <app-student *ngFor="let i of listOfStudents" [student]="i" [listSelectedStudents]="listSelectedStudents"
                [select]="ifSelected(i.St_code)" (addSelectedCodeStudent)="selectStudentBoxAdd($event)"
                (deleteSelectedCodeStudent)="selectStudentBoxDelete($event)"></app-student>
        </div>


        <div filters *ngIf="worker.Wo_gender==1">
            <button allList [ngClass]="{buttonFilter:true,displayallList:displayallList}"
                (click)="displayallList=true;displaystudentActive=false;displaystudentSuspended=false;displaystudentFinish=false;statusF=0;generalStudents(2)">כל
                החניכים</button>
            <button studentActive [ngClass]="{buttonFilter:true,displaystudentActive:displaystudentActive}"
                (click)="displayallList=false;displaystudentActive=true;displaystudentSuspended=false;displaystudentFinish=false;statusF=1;generalStudents(2)">חניכים
                פעילים</button>
            <button studentSuspended [ngClass]="{buttonFilter:true,displaystudentSuspended:displaystudentSuspended}"
                (click)="displayallList=false;displaystudentActive=false;displaystudentSuspended=true;displaystudentFinish=false;statusF=2;generalStudents(2)">חניכים
                מושהים</button>
            <button studentFinish [ngClass]="{buttonFilter:true,displaystudentFinish:displaystudentFinish}"
                (click)="displayallList=false;displaystudentActive=false;displaystudentSuspended=false;displaystudentFinish=true;statusF=3;generalStudents(2)">חניכים
                שסיימו</button>
            <button *ngIf="displayGroupActivities" displayAddStudent [ngClass]="{buttonFilter:true,displayAddStudent:displayAddStudent}"
                (click)="displayAddStudent=!displayAddStudent">משתתף חד פעמי</button>
            <select (change)="onStudentSelected($event)">
                <option selected hidden [value]="0">בחר מרשימה</option>
                <option *ngFor="let s of listOfStudents" [value]="s.St_code" [selected]="ifSelected(s.St_code)">
                    {{s.St_name+ " "+s.St_Fname}}</option>
            </select>
        </div>
        <div filters *ngIf="worker.Wo_gender==2">
            <button allList [ngClass]="{buttonFilter:true,displayallList:displayallList}"
                (click)="displayallList=true;displaystudentActive=false;displaystudentSuspended=false;displaystudentFinish=false;statusF=0;generalStudents(2)">כל
                החניכות</button>
            <button studentActive [ngClass]="{buttonFilter:true,displaystudentActive:displaystudentActive}"
                (click)="displayallList=false;displaystudentActive=true;displaystudentSuspended=false;displaystudentFinish=false;statusF=1;generalStudents(2)">חניכות
                פעילות</button>
            <button studentSuspended [ngClass]="{buttonFilter:true,displaystudentSuspended:displaystudentSuspended}"
                (click)="displayallList=false;displaystudentActive=false;displaystudentSuspended=true;displaystudentFinish=false;statusF=2;generalStudents(2)">חניכות
                מושהות</button>
            <button studentFinish [ngClass]="{buttonFilter:true,displaystudentFinish:displaystudentFinish}"
                (click)="displayallList=false;displaystudentActive=false;displaystudentSuspended=false;displaystudentFinish=true;statusF=3;generalStudents(2)">חניכות
                שסיימו</button>
            <button *ngIf="displayGroupActivities" displayAddStudent [ngClass]="{buttonFilter:true,displayAddStudent:displayAddStudent}"
                (click)="displayAddStudent=!displayAddStudent">משתתפת חד פעמית</button>
            <select (change)="onStudentSelected($event)">
                <option selected hidden [value]="0">בחרי מרשימה</option>
                <option *ngFor="let s of listOfStudents" [value]="s.St_code" [selected]="ifSelected(s.St_code)">
                    {{s.St_name+ " "+s.St_Fname}}</option>
            </select>
        </div>
        <div details [ngClass]="{detailsDisplay:displayAddStudent && displayGroupActivities}">
            <div titleOfDetails *ngIf="worker.Wo_gender==1">משתתף חד פעמי</div>
            <div titleOfDetails *ngIf="worker.Wo_gender==2">משתתפת חד פעמי</div>

            <input nameStudent type="text" (input)="onInputChangeN($event)" [value]="addStudent.St_name"
                placeholder="שם פרטי">
            <label *ngIf="validNane" eror></label>
            <input nameStudent type="text" (input)="onInputChangeNF($event)" [value]="addStudent.St_Fname"
                placeholder="שם משפחה">
            <label *ngIf="validNameF" eror></label>

            <button buttomAddStudent *ngIf="worker.Wo_gender==1" (click)="addStudentF()">הוסף</button>
            <button buttomAddStudent *ngIf="worker.Wo_gender==2" (click)="addStudentF()">הוסיפי</button>
        </div>
        <br>
        <br>
        <br>
        <label labelStudentSelected *ngIf="displayGroupActivities && worker.Wo_gender==1">החניכים שנבחרו</label>
        <label labelStudentSelected *ngIf="displayGroupActivities && worker.Wo_gender==2">החניכות שנבחרו</label>

        <label labelStudentSelected *ngIf="!displayGroupActivities && worker.Wo_gender==1">החניך שנבחר</label>
        <label labelStudentSelected *ngIf="!displayGroupActivities && worker.Wo_gender==2">החניכה שנבחרה</label>

        <div [ngClass]="{boxChoose:!displayGroupActivities,bigbox:displayGroupActivities}">
            <app-student *ngFor="let i of listSelectedStudents" [student]="convertToStudent(i)"
                [listSelectedStudents]="listSelectedStudents" [select]="true"
                (addSelectedCodeStudent)="selectStudentBoxAdd($event)"
                (deleteSelectedCodeStudent)="selectStudentBoxDelete($event)"></app-student>
        </div>

    </div>
    <br>

    <button buttonSelect timer1 (click)="onTimerSelected(1)" [ngClass]="{timer1:displayTimeTimer==1}">מונה
        זמן</button>
    <button buttonSelect timer2 (click)="onTimerSelected(2)" [ngClass]="{timer2:displayTimeTimer==2}">מונה זמן +
        דרך</button>
    <button buttonSelect timer0 (click)="onTimerSelected(0)" [ngClass]="{timer0:displayTimeTimer==0}">בחירה
        ידנית</button>
    <br>
    <br>
    <h2 date *ngIf="displayTimeTimer==0">מועד הפעילות</h2>
    <br>
    <div boxxx *ngIf="displayTimeTimer==0">
        <div filters>
            <button (click)="today()" [ngClass]="{buttonFilter:true,displayDayChoose:displayToday}">היום</button>
            <button (click)="yesterday()"
                [ngClass]="{buttonFilter:true,displayDayChoose:displayYesterday}">אתמול</button>
            <button (click)="beforeYesterday()"
                [ngClass]="{buttonFilter:true,displayDayChoose:displayBeforeYesterday}">שלשום</button>
            <input type="date" [valueAsDate]="selectedDate" (input)="onInputChangeDate($event)">
        </div>
        <br>
        <br>
    </div>
    <h2 time *ngIf="displayTimeTimer==0">משך הפעילות</h2>
    <div boxxx *ngIf="displayTimeTimer==0">
        <br>

        <input type="time" [value]="formatTime(time)" (input)="onInputChangeTime($event)">
        <br>
        <label>בשעות</label>
        <br>
        <button [ngClass]="{minutesHours:true,displayMinutesHours:displayH1}"
            (click)="displayH1=true;displayH2=false;displayH3=false;displayH4=false;hoursSelected(1)">1</button>
        <button [ngClass]="{minutesHours:true,displayMinutesHours:displayH2}"
            (click)="displayH1=false;displayH2=true;displayH3=false;displayH4=false;hoursSelected(2)">2</button>
        <button [ngClass]="{minutesHours:true,displayMinutesHours:displayH3}"
            (click)="displayH1=false;displayH2=false;displayH3=true;displayH4=false;hoursSelected(3)">3</button>
        <button [ngClass]="{minutesHours:true,displayMinutesHours:displayH4}"
            (click)="displayH1=false;displayH2=false;displayH3=false;displayH4=true;hoursSelected(4)">4</button>
        <br>
        <label>בדקות</label>
        <br>
        <button [ngClass]="{minutesHours:true,displayMinutesHours:displayM5}"
            (click)="displayM5=true;displayM10=false;displayM20=false;displayM30=false;displayM40=false;displayM50=false;minutesSelected(5)">5</button>
        <button [ngClass]="{minutesHours:true,displayMinutesHours:displayM10}"
            (click)="displayM5=false;displayM10=true;displayM20=false;displayM30=false;displayM40=false;displayM50=false;minutesSelected(10)">10</button>
        <button [ngClass]="{minutesHours:true,displayMinutesHours:displayM20}"
            (click)="displayM5=false;displayM10=false;displayM20=true;displayM30=false;displayM40=false;displayM50=false;minutesSelected(20)">20</button>
        <button [ngClass]="{minutesHours:true,displayMinutesHours:displayM30}"
            (click)="displayM5=false;displayM10=false;displayM20=false;displayM30=true;displayM40=false;displayM50=false;minutesSelected(30)">30</button>
        <button [ngClass]="{minutesHours:true,displayMinutesHours:displayM40}"
            (click)="displayM5=false;displayM10=false;displayM20=false;displayM30=false;displayM40=true;displayM50=false;minutesSelected(40)">40</button>
        <button [ngClass]="{minutesHours:true,displayMinutesHours:displayM50}"
            (click)="displayM5=false;displayM10=false;displayM20=false;displayM30=false;displayM40=false;displayM50=true;minutesSelected(50)">50</button>
        <br>

    </div>
    <app-activity-reporting-for-student *ngFor="let s of listSelectedStudents" [studentSelected]="convertToStudent(s)"
        [worker]="worker" [AFS_activity_time]="AFS_activity_time" [AFS_date]="AFS_date" [AFS_exit]="AFS_exit"
        [AFS_kilometer]="AFS_kilometer" [AFS_target]="AFS_target" [selectedDate]="selectedDate"
        [displayGroup]="displayGroupActivities" [amountGroup]="listSelectedStudents.length"
        (editStudent)="updateStudent($event)"></app-activity-reporting-for-student>

    <br>
    <br>
    <h2 history *ngIf="!this.displayGroupActivities && listSelectedStudents.length==1">הסטוריית פעילויות</h2>
    <br>
    <app-reports *ngIf="!this.displayGroupActivities && listSelectedStudents.length==1" [status]="'student'"
        [studentF]="this.listSelectedStudents[0].SFA_code_student" [workerF]="worker.Wo_code"
        [worker]="worker"></app-reports>

</div>
<app-past-frequency [listStudent]="listOfStudents2" *ngIf="displayPopap" [codeWorker]="worker.Wo_code"
    (popupDisplayOut)="closeP($event)"></app-past-frequency>