<div callAll
    [ngClass]="{'done':call.MessageForCalls[call.MessageForCalls.length-1].MFC_done==0,'noReading':call.MessageForCalls[call.MessageForCalls.length-1].MFC_done==1}">
    <input type="checkbox">
    <div call (click)="openCall(call.Ca_code)">
        <label *ngIf="!call.MessageForCalls[call.MessageForCalls.length-2]" userName>
            {{nameWorker(call.MessageForCalls[call.MessageForCalls.length-1].MFC_sender_worker_code,1)}}

        </label>

        <label userName *ngIf="call.MessageForCalls[call.MessageForCalls.length-2]">
            {{nameWorker(call.MessageForCalls[call.MessageForCalls.length-1].MFC_sender_worker_code,2)}}
            <label *ngIf="call.MessageForCalls[call.MessageForCalls.length-2]"> ,
                {{nameWorker(call.MessageForCalls[call.MessageForCalls.length-2].MFC_sender_worker_code,2)}}</label> <label
                numOfMessages>{{call.MessageForCalls.length}}</label></label>

        <label contectAndTopic>
            <p topic>{{call.Ca_topic}}</p>
            -
            <p contect>{{call.MessageForCalls[call.MessageForCalls.length-1].MFC_content}}</p>
        </label>
        <p date>

            {{displayDate(call.MessageForCalls[call.MessageForCalls.length-1].MFC_date,call.MessageForCalls[call.MessageForCalls.length-1].MFC_time) }}
        </p>
    </div>
</div>