

[callAll] {
    height: 40px;
    border-bottom: 2.5px solid white;
    margin: auto;
    display: flex;
    width: 100%;

    input {
        margin: 12.5px 10px 12.5px 10px;
        width: 15px;
        height: 15px;
        display: inline-block
    }

    [call] {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        width: 85vw;

        font-size: 2.1vh;
        [userName] {
            margin: auto;
            width: 10vw;
            display: inline-block;
            padding: 0px 8px 0px 0px;
        }
        [numOfMessages] {
            color: gray;
            font-size: 2vh;
            display: inline-block;

        }

        [contectAndTopic] {
            display: inline-block;
            width: 65vw;
            overflow: hidden;
            white-space: nowrap;

            [topic] {
                display: inline-block;
                font-family: Assistant-Bold;
                line-height: 40px;
            }

            [contect] {
           //     margin: auto;

                color: rgb(82, 82, 82);
                display: inline-block;
                line-height: 40px;

                /*             overflow: hidden;
            white-space: nowrap; */
            }
        }

        [date] {
            margin: auto 0px auto 8px;
            display: inline-block;
            text-align: left;
            font-family: Assistant-Bold;
            width: 10vw;
            color: rgb(89, 89, 89);
            color: gray;
            font-size: 2vh;

        }
    }
}
.done {
    background-color: rgb(217, 246, 237);

    [call] {
        [userName] {
            font-family: Assistant-Regular;
        }
        [numOfMessages] {
            font-family: Assistant-Light;
        }
        [contectAndTopic] {
            [topic] {
                font-family:Assistant-Regular;
            }
        }
        [date] {
            font-family:Assistant-Regular;
        }
    }
}

.noReading {
    background-color: rgb(238, 255, 250);

    [call] {
        [userName] {
            font-family: Assistant-Bold;
        }
        [numOfMessages] {
            font-family: Assistant-Bold;
        }
        [contectAndTopic] {
            [topic] {
                font-family: Assistant-Bold;
            }
        }
        [date] {
            font-family: Assistant-Bold;
        }
    }

}