<div background *ngIf="popupDisplayIn">
    <div popup>
        <br>
        <button close (click)="close();">x</button>

        <button download (click)="downloadFile()"  >הורד קובץ חניכים למילוי</button>
<!--         <input type="file" (change)="onFileChange($event)"> -->
        <input type="file" id="file-upload" (change)="onFileSelected($event)">

<!--         <label for="file-upload" class="upload-label">בחר קובץ</label> -->
        <button *ngIf="file" upload (click)="uploadFile()">העלה קובץ</button>


    </div>
</div>