<div background *ngIf="popupDisplayIn">

    <div popup>
        <button close (click)="close();">x</button>
        <br>
        <label>בחר מדריך:</label>
        <select (change)="onGuideSelected($event)">
            <option selected hidden> בחר</option>
            <option *ngFor="let g of listOfGuides" [value]="g.GFP_code">{{g.GFP_name }}</option>
        </select>
        <label>בחר חניך:</label>
        <div class="guide-section">
            <div class="find">
                <input type="search" role="combobox" placeholder="חפש" (input)="onInputChange($event)">
            </div>
            <ul class="tag-list">

                <li tagListItem *ngFor="let s of listOfStudents" [class.selected]="s === selectedStudent"
                    (click)="Select(s)">
                    <div>
                        <strong>{{ s.St_name + " " + s.St_Fname }}</strong>
                    </div>
                    <div>ת.ז: {{ s.St_ID }}</div>
                </li>

            </ul>
        </div>
        <button save (click)="add()">שמור</button>


        <app-loading-spinner *ngIf="loading"></app-loading-spinner>
    </div>

</div>